    <!-- QUERRY WORKS STARTS HERE -->
    <section class="call-to-action" data-aos="zoom-in-left" data-aos-duration="3200" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center call-to-action-row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h1 class="text-white">Have Query?<br><span>Let’s Get Connected!</span></h1>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="input-group own-input-tag">
                        <input type="email" class="form-control pb-4" id="form-content"
                            placeholder="Enter Your Email Address.." aria-label="Email address"
                            aria-describedby="email-addon">
                        <span class="input-group-text pb-4" id="email-addon"><i class="bi bi-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- QUERRY WORKS ENDS HERE -->