<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./partials/csslinks') %>

</head>

<body>

    <!-- NAVBAR STARTS HERE -->
    <header>
        <nav class="main-nav  navbar navbar-expand-lg " data-aos="fade-down" data-aos-duration="3200"
            data-aos-easing="ease-in-sine">
            <div class="container">
                <a class="navbar-brand" href="#"><strong class="main-logo">E4</strong>D4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav own-navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Categories</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link" href="#">Business Product</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="top-btn">LOGIN</button>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="top-btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    SIGN UP
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="join.html">TALENT</a></li>
                                    <li><a class="dropdown-item" href="businessregistration.html">BUSINESS</a></li>

                                </ul>
                            </div>
                            <!-- <button type="button" class="top-btn">SIGN UP</button> -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- NAVBAR ENDS HERE -->



    <section class="portfolio-section">
        <div class="container d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
            data-aos-duration="3200" data-aos-easing="ease-in-sine">
            <!-- NO 1 BUSINESS REGISTRATION WORKS STARTS HERE -->
            <div class="portfolio_width_setting businessregister-section business-reg-form ">
                <div class="text-center">
                    <h2 class="fw-bold">Sign Up Using Email ( Business )</h2>
                </div>
                <form class="row">
                    <div class="col-md-6 portfolio-form-design">
                        <label for="fname" class="form-label">Business Name*</label>
                        <input type="name" class="form-control" id="inputEmail4" placeholder="Enter Business Name...">
                    </div>
                    <div class="col-md-6 portfolio-form-design">
                        <label for="address" class="form-label">Business Address*</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter Password...">
                    </div>
                    <div class="col-md-6 portfolio-form-design">
                        <label for="inputEmail4" class="form-label">Email Address*</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Email Address...">
                    </div>
                    <div class="col-md-6  portfolio-form-design">
                        <label for="ContactNumber" class="form-label">Contact Number*</label>
                        <input type="number" class="form-control" id="ContactNumber" placeholder="Enter Number...">
                    </div>
                    <div class="col-md-6 portfolio-form-design">
                        <label for="Location" class="form-label">Location*</label>
                        <select id="Location" class="form-select">
                            <option selected>Select Location</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6 portfolio-form-design mb-5">
                        <label for="Industry" class="form-label">Industry*</label>
                        <select id="Industry" class="form-select">
                            <option selected>Select Industry...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="submit-btn-portfolio btn-business-reg"
                            data-next-class="companyoperate-section">CREATE ACCOUNT</button>

                    </div>
                </form>



            </div>
            <!-- BUSINESS REGISTRATION WORKS ENDS HERE -->




            <!--  NO 2 Company Operating Industry WORKS STARTS HERE -->
            <div class="weekavail_width_setting companyoperate-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">Select Your Company Operating Industry</h2>
                </div>
                <form class="row form-design">

                    <div class="weekavail-width-inner mt-5">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Information Technology and Services</label>
                        </div>

                    </div>
                    <div class="weekavail-width-inner">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Marketing and Advertising</label>
                        </div>

                    </div>
                    <div class="weekavail-width-inner">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Healthcare</label>

                        </div>

                    </div>
                    <div class="weekavail-width-inner">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Education</label>

                        </div>

                    </div>
                    <div class="weekavail-width-inner">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Automotive</label>
                        </div>

                    </div>
                    <div class="weekavail-width-inner">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Entertainment</label>
                        </div>

                    </div>
                    <div class="weekavail-width-inner">
                        <div class="col-12 weekavail-form-design">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn" for="btn-check-outlined">Consulting</label>

                        </div>

                    </div>


                    <button type="button" class="next-btn py-3 btn-business-reg"
                        data-next-class="companysize-section">SHOW MORE</button>

                </form>
            </div>
            <!-- Company Operating Industry WORKS ENDS HERE -->



            <!--  NO 3 Size Of Your Company WORKS STARTS HERE -->
            <div class="weekavail_width_setting companysize-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">Select The Size Of Your Company</h2>
                </div>
                <form class="row form-design">
                    <div class="weekavail-width-inner mt-5">
                        <div class="col-12 portfolio-form-design">

                            <select id="Classification" class="form-select">
                                <option selected>1-10 employees - Microenterprise </option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="next-btn py-3 w-15 btn-business-reg"
                        data-next-class="companyfound-section">NEXT</button>
                </form>
            </div>
            <!-- NO 3 Size Of Your Company WORKS ENDS HERE -->


            <!--  NO 4 Company Founded WORKS STARTS HERE -->
            <div class="weekavail_width_setting companyfound-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">When Was Your Company Founded</h2>
                </div>
                <form class="row form-design">
                    <div class="weekavail-width-inner mt-5">
                        <div class="col-12 portfolio-form-design">
                            <input type="date" class="form-control" id="date" placeholder="Select Date">
                        </div>
                    </div>
                    <button type="button" class="next-btn py-3 w-15 btn-business-reg"
                        data-next-class="companyhead-section">NEXT</button>
                </form>
            </div>
            <!-- NO 4 Company Founded WORKS ENDS HERE -->


            <!--  NO 5 Company Headquartered WORKS STARTS HERE -->
            <div class="weekavail_width_setting companyhead-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">Where Is Your Company Headquartered?</h2>
                </div>
                <form class="row form-design">
                    <div class="weekavail-width-inner mt-5">
                        <div class="col-12 portfolio-form-design">
                            <input type="text" class="form-control" id="location" placeholder="Select Location">
                            <i class="bi bi-geo-alt-fill"></i>
                        </div>
                    </div>

                    <button type="button" class="next-btn py-3 w-15  btn-business-reg"
                        data-next-class="companyweb-section">NEXT</button>
                </form>

            </div>
            <!-- NO 5 Company Headquartered WORKS ENDS HERE -->


            <!--  NO 6 Company Have A Website WORKS STARTS HERE -->
            <div class="weekavail_width_setting companyweb-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">Does Your Company Have A Website?</h2>
                </div>
                <form class="row form-design">
                    <div class="weekavail-width-inner mt-5">
                        <div class="col-12 portfolio-form-design">
                            <input type="url" class="form-control" id="websiteurl"
                                placeholder="Enter Your Website URL Here.....">
                            <i class="bi bi-globe2"></i>
                        </div>
                    </div>

                    <button type="button" class="next-btn py-3 w-15 btn-business-reg"
                        data-next-class="companyemail-section">NEXT</button>
                </form>

            </div>
            <!-- NO 6 Company Have A Website WORKS ENDS HERE -->



            <!--  NO 7 Company Email WORKS STARTS HERE -->
            <div class="weekavail_width_setting companyemail-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">What Is Your Company Email?</h2>
                </div>
                <form class="row form-design">
                    <div class="weekavail-width-inner mt-5">
                        <div class="col-12 portfolio-form-design">
                            <input type="url" class="form-control" id="websiteurl"
                                placeholder="Enter Your Company Email Here.....">
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>

                    <button type="button" class="next-btn py-3 w-15 btn-business-reg"
                        data-next-class="subscription-section">NEXT</button>
                </form>

            </div>
            <!-- NO 7 Company Email WORKS ENDS HERE -->


            <!--  NO 8 Subscription  WORKS STARTS HERE -->
            <div class="weekavail_width_setting subscription-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">Select <strong>Subscription</strong></h2>
                    <p class="note-companyemail mb-5"> <span class="fw-bold">Note:</span> You’ll get FREE SUBSCRIPTION
                        for
                        first 30 Days on
                        any PLAN.!</p>
                </div>

                <div class="row w-80">
                    <div class="col-lg-4 col-md-6 ">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">Essential <span> Access</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$199</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">Premium <span> Plus</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$399</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">Deluxe <span> Membership</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$399</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">Ultimate <span> Experience</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$999</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">Elite Access <span> Pass</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$1,999</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">VIP <span> Exclusive</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$1,999</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-12">

                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="sub-categories">
                            <div class="sub-categories-name ">
                                <h5 class=" d-flex align-items-center ">Platinum <span> Privilege</span></h5>
                                <div class="bg-color">
                                    <h5 class="m-0 fw-bold text-white p-0">$3,999</h5>
                                    <span class="company-loc text-white">Per Year</span>
                                </div>
                            </div>
                            <div class="sub-categories-details">
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Business with 1-4 Employees</span>
                                </div>
                                <div>
                                    <i class="bi bi-check-all"></i>
                                    <span>Monthly</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-12">

                    </div>


                </div>

                <button type="button" class="next-btn py-3 w-15 btn-business-reg"
                    data-next-class="carddetails-section">NEXT</button>


            </div>
            <!-- NO 8 Subscription WORKS ENDS HERE -->


            <!-- NO 9  CARD DETAILS WORKS STARTS HERE -->
            <div class="portfolio_width_setting carddetails-section business-reg-form display-none">
                <div class="text-center">
                    <h2 class="fw-bold">Enter Details</h2>
                </div>
                <form class="row">
                    <div class="col-md-6 portfolio-form-design">
                        <label for="fname" class="form-label">Enter Name On Card</label>
                        <input type="name" class="form-control" id="inputEmail4" placeholder="Enter  Name...">
                    </div>
                    <div class="col-md-6 portfolio-form-design">
                        <label for="date" class="form-label">Enter Date Of Birth</label>
                        <input type="date" class="form-control" id="address" placeholder="Enter Password...">
                    </div>
                    <div class="col-md-6 portfolio-form-design ">
                        <label for="Bank" class="form-label">Select Bank</label>
                        <select id="Bank" class="form-select">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6  portfolio-form-design">
                        <label for="CardNumber" class="form-label">Enter Card Number</label>
                        <input type="number" class="form-control" id="CardNumber" placeholder="8564 5586 2566 8354">
                    </div>
                    <div class="col-md-4 portfolio-form-design ">
                        <label for="Bank" class="form-label">Select Card</label>
                        <select id="Bank" class="form-select">
                            <option selected>Select</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-4 portfolio-form-design">
                        <label for="date" class="form-label">Enter Card Expiry</label>
                        <input type="date" class="form-control" id="address" placeholder="Enter Password...">
                    </div>
                    <div class="col-md-4  portfolio-form-design">
                        <label for="CVV" class="form-label">Enter CVV</label>
                        <input type="number" class="form-control" id="CVV" placeholder="ENTER CVV">
                    </div>

                    <div class="d-flex justify-content-center mt-5">
                        <button type="button" class="submit-btn-portfolio btn-business-reg"
                            data-next-class="regcompletebusiness-section">SUBMIT</button>

                    </div>
                </form>



            </div>
            <!--  CARD DETAILS WORKS ENDS HERE -->


            <!-- NO 10 REGISTRATION COMPLETED WORKS STARTS HERE -->
            <div class="weekavail_width_setting regcompletebusiness-section business-reg-form display-none">
                <div class="text-center reg-icon">
                    <i class="bi bi-patch-check"></i>
                    <h1 class="mx-3 mb-5">Registration Completed</h1>
                    <h6 class="fw-bold mb-3 ">Check Your Email / Phone For Verification</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                </div>

                <button type="button" class="next-btn py-3">NEXT</button>


            </div>
            <!--REGISTRATION COMPLETED WORKS ENDS HERE -->







        </div>
    </section>



    <!-- QUERRY WORKS STARTS HERE -->
    <section class="call-to-action" data-aos="zoom-in-left" data-aos-duration="3200" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center call-to-action-row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2 class="text-white">Have Query?<br><span>Let’s Get Connected!</span></h2>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="input-group own-input-tag">
                        <input type="email" class="form-control pb-4" id="form-content"
                            placeholder="Enter Your Email Address.." aria-label="Email address"
                            aria-describedby="email-addon">
                        <span class="input-group-text pb-4" id="email-addon"><i class="bi bi-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- QUERRY WORKS ENDS HERE -->




    <!-- FOOTER WORKS STARTS HERE -->
    <section class="footer">
        <div class="container">
            <div class="row upper-footer" data-aos="fade-right" data-aos-duration="3100" data-aos-easing="ease-in-sine">
                <div class="col-lg-3 footer-left">
                    <a class="footer-logo"><strong class="main-logo">E4</strong>D4</a>
                    <p class="text-white mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry.</p>
                    <div class="icons d-flex gap-4 pt-3">
                        <a href="https://www.instagram.com" class="icon-background d-flex">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com" class="icon-background d-flex">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.twitter.com" class="icon-background d-flex">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.tiktok.com" class="icon-background d-flex">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                        <a href="https://www.linkedin.com" class="icon-background d-flex">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>


                </div>
                <div class="col-lg-9 mobile-footer">
                    <div class="row footer-right">
                        <div class="col-lg-4 d-flex flex-column align-content-end flex-wrap gap-4 footer-links">
                            <h3 class="text-white">Quick Links</h3>
                            <ul class="text-white">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="categories.html">Categories</a></li>
                                <li><a href="business.html">Business</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 d-flex flex-column align-content-center flex-wrap gap-4 footer-links">
                            <h3 class="text-white">Business</h3>
                            <ul class="text-white">
                                <li><a href="#advertise">Advertise With Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="#add-business">Add A Business</a></li>
                                <li><a href="#handling-reviews">Handling Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 d-flex flex-column align-content-end flex-wrap gap-4 footer-links">
                            <h3 class="text-white">Contact Us</h3>
                            <ul>
                                <li class="text-secondary email">Email: <a
                                        href="mailto:finddabs24@yahoo.com">finddabs24@yahoo.com</a></li>
                                <li class="text-secondary phone">Phone: <a href="tel:+19785042054">978.504.2054</a></li>
                                <li class="text-secondary">Address: <a
                                        href="https://www.google.com/maps/search/?api=1&query=117+Eastern+Avenue"
                                        target="_blank">117 Eastern Avenue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row lower-footer d-flex justify-content-between align-content-center">
                <div class="col-lg-6 col-sm-6 d-flex justify-content-start">
                    <p class="text-white">Copyright @ 2024. All Right Reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-6 d-flex justify-content-end">
                    <p class="text-white">Terms & Conditions | Privacy Policy</p>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER WORKS ENDS HERE -->






    <!-- BOOTSTRAP JS CDN LINKED HERE  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FONTAWESOME ICON JS CDN LINKED HERE  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

    <!-- AOS ANIMATION JS CDN LINKED HERE  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <script>
        const nextBtn = document.querySelectorAll(".btn-business-reg")
        const forms = document.querySelectorAll(".business-reg-form")
        nextBtn.forEach((btn) => {
            btn.addEventListener("click", function (e) {

                
                forms.forEach((form) => {
                    form.classList.add("display-none")
                })
                document.querySelector(`.${e.target.getAttribute("data-next-class")}`).classList.remove("display-none")
            })
        })
    </script>

    <!-- OWN JS LINED HERE -->
    <script src="assets/js/script.js"></script>

</body>

</html>