<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Project</title>
    <link rel="icon" href="/sites/e4d4/assets/img/tab_logo.png">

    <!-- BOOTSTRAP CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- FONTAWESOME ICON CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- OWN CSS LINKED HERE -->
    <link rel="stylesheet" href="/sites/e4d4/assets/css/style.css">

</head>

<body>

<%- include('./partials/header') %>

    <!-- BANNER  WORKS STARTS HERE -->
    <section class="hero-section d-flex justify-content-center align-items-center mb-4">
        <div class="container" data-aos="fade-up" data-aos-duration="3200" data-aos-easing="ease-in-sine">
            <h1 class="text-center">Unlocking Potential <br>
                <span class="italic-words">Maximizing Talent</span>
            </h1>
            <form>
                <div class="row bg-white d-flex py-4 center-btn-row">
                    <div class="col-5 d-flex justify-content-center hero-input">
                        <div class=" col-1-btn d-flex align-items-center">
                            <input type="text" class="form-control" placeholder="What are you looking for?"
                                name="Search">
                            <div class="circle">
                                <i class="bi bi-search text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 d-flex justify-content-center hero-input">
                        <div class="col-1-btn d-flex align-items-center">
                            <input type="text" class="form-control" placeholder="Location, City or Postcode?"
                                name="Location">
                            <div class="circle ">
                                <i class="bi bi-geo-alt-fill text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center hero-submit-btn">
                        <button type="button" class="submit-btn">Search</button>

                    </div>
                </div>
            </form>
            <div class="row under-sentence  ">
                <p class="text-center">Australia's largest collection of trusted local businesses reviewed by you.</p>
            </div>

        </div>
        </div>
    </section>
    <!-- BANNER WORKS ENDS HERE -->



    <!-- SERVICES  WORKS STARTS HERE -->
    <section class="section1-2" data-aos="fade-right">
        <h1 class="text-center py-3">OR BROWSE <span>THE HIGHLIGHTS</span></h1>
        <div class="container services">
            <div class="row services">
                <div class="col-lg-10 d-flex icons-container">
                    <div class="box1 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="52" height="43" viewBox="0 0 52 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M42.2026 35.6815C38.1073 40.3325 32.2019 43 26 43C19.7987 43 13.8932 40.3325 9.79738 35.6815C9.55125 35.402 9.57898 34.9761 9.8592 34.7307C10.1394 34.4852 10.5658 34.5128 10.8125 34.7923C14.6513 39.1523 20.187 41.6527 26 41.6527C31.813 41.6527 37.3487 39.1523 41.1875 34.7923C41.4336 34.5128 41.86 34.4852 42.1408 34.7307C42.421 34.9761 42.4488 35.402 42.2026 35.6815ZM15.4324 4.31907C18.6033 2.37477 22.2577 1.34672 26 1.34672C29.7423 1.34672 33.3967 2.37477 36.5676 4.31907C36.6779 4.3865 36.7998 4.41877 36.9206 4.41877C37.1476 4.41877 37.3689 4.30467 37.4966 4.09779C37.6919 3.78085 37.5925 3.36594 37.2748 3.17116C33.8913 1.09662 29.9924 0 26 0C22.0076 0 18.1087 1.09662 14.7252 3.17174C14.4075 3.36652 14.3081 3.78142 14.5034 4.09837C14.6987 4.41531 15.1147 4.51385 15.4324 4.31907ZM41.9923 27.974C41.6526 27.8207 41.2522 27.9705 41.0985 28.3094C38.4188 34.2097 32.4925 38.0223 26 38.0223C19.5075 38.0223 13.5812 34.2097 10.9015 28.3094C10.7478 27.9705 10.3474 27.8207 10.0077 27.974C9.66796 28.1273 9.51716 28.5266 9.67142 28.8655C12.569 35.2464 18.9788 39.3696 26 39.3696C33.0212 39.3696 39.431 35.2464 42.3286 28.8655C42.4828 28.5266 42.332 28.1273 41.9923 27.974ZM37.2586 7.598C34.086 5.03882 30.0878 3.62987 26 3.62987C21.9122 3.62987 17.914 5.03882 14.7414 7.598C14.4514 7.83196 14.4063 8.25609 14.6409 8.54537C14.8755 8.83465 15.3007 8.8796 15.5908 8.64564C18.5236 6.27951 22.2202 4.97659 26 4.97659C29.7798 4.97659 33.4764 6.27951 36.4092 8.64506C36.534 8.74591 36.6843 8.79489 36.8333 8.79489C37.0304 8.79489 37.2256 8.7096 37.3591 8.54479C37.5937 8.25609 37.5486 7.83196 37.2586 7.598ZM22.3178 22.1866C22.1763 21.0266 22.579 19.8966 23.422 19.0863C24.8889 17.6762 27.233 17.7194 28.6462 19.1826C29.3309 19.8914 29.6984 20.8238 29.6799 21.808C29.6614 22.7923 29.2598 23.7102 28.5492 24.3931C27.8552 25.0599 26.9481 25.4246 25.9873 25.4246C25.9636 25.4246 25.9405 25.4246 25.9168 25.424C24.93 25.4056 24.0096 25.0057 23.3249 24.2963C22.7633 23.716 22.4149 22.9859 22.3178 22.1866ZM23.6583 22.0241C23.7201 22.5306 23.9408 22.9934 24.2973 23.3622C24.7318 23.8117 25.3159 24.0658 25.9416 24.0773C26.568 24.0889 27.1608 23.8566 27.6114 23.4233C28.0621 22.9899 28.3169 22.4073 28.3284 21.7832C28.34 21.1586 28.1072 20.5673 27.6727 20.1178C27.2133 19.6424 26.5992 19.4033 25.9844 19.4033C25.3985 19.4033 24.8121 19.6199 24.358 20.0568C23.8241 20.5702 23.5687 21.2876 23.6583 22.0241ZM11.7283 20.5258C12.4037 20.032 13.234 19.8309 14.0666 19.9588C14.8986 20.0867 15.6295 20.5281 16.1246 21.2018L17.3686 22.8948C17.5812 22.8493 17.7984 22.8263 18.0174 22.8257C18.0122 22.7877 18.0064 22.7502 18.0018 22.7127C17.8389 21.3764 18.3635 20.5397 18.9188 19.6539C19.1279 19.3203 19.348 18.967 19.5497 18.5562C17.6286 17.5587 16.3794 15.5492 16.3794 13.3543C16.3794 10.1237 19.0147 7.49485 22.2543 7.49485C24.1332 7.49485 25.8082 8.38056 26.884 9.75437C27.972 8.69808 29.417 8.10511 30.9689 8.10511C34.2079 8.10511 36.8437 10.7334 36.8437 13.9645C36.8437 14.5177 36.764 15.0583 36.6155 15.5734C39.1381 16.2529 40.9529 18.5544 40.9529 21.23C40.9529 24.4605 38.3176 27.0894 35.078 27.0894C34.1675 27.0894 33.2783 26.8808 32.4723 26.4821C32.2024 26.848 31.9014 27.1943 31.5669 27.5159C31.0798 27.9838 30.5436 28.3843 29.9659 28.7128C30.8285 29.6492 31.0671 31.0587 30.457 32.2579C30.078 33.0025 29.428 33.5562 28.6277 33.8173C28.3048 33.9227 27.9731 33.9746 27.6438 33.9746C27.1567 33.9746 26.6743 33.8605 26.2288 33.6352L25.536 33.2842C25.536 33.2842 25.5349 33.2842 25.5349 33.2837L23.0967 32.0487C23.01 32.9172 22.5663 33.7372 21.8313 34.2743C21.272 34.6828 20.6215 34.8799 19.9761 34.8799C19.0072 34.8799 18.0504 34.4356 17.435 33.5983L11.5116 25.5364L11.5111 25.5358L11.5105 25.5353L11.0512 24.9106C10.556 24.2369 10.3544 23.4089 10.4826 22.5785C10.6097 21.7487 11.0529 21.0197 11.7283 20.5258ZM21.7198 31.352L19.912 30.4369C20.0073 30.483 20.0934 30.5528 20.1604 30.6438C20.3811 30.944 20.3158 31.3653 20.0148 31.5854L18.4623 32.7201L18.523 32.8025C19.1083 33.5989 20.2332 33.7712 21.0317 33.188C21.6089 32.7662 21.8718 32.0378 21.7198 31.352ZM36.0868 16.8314C35.5224 17.8324 34.669 18.6651 33.6168 19.1958C33.9028 20.0521 34.0438 20.9592 34.0265 21.8881C34.004 23.1034 33.7122 24.2721 33.1824 25.3278C33.7728 25.5998 34.4176 25.7421 35.0775 25.7421C37.5717 25.7421 39.6015 23.7183 39.6015 21.23C39.6015 19.1082 38.1195 17.2919 36.0868 16.8314ZM27.6074 10.9466C27.9408 11.682 28.1285 12.4962 28.1285 13.3543C28.1285 13.5364 28.1193 13.7179 28.1025 13.8988C29.5123 14.4111 30.8331 15.1966 31.7772 16.1733C32.2984 16.7127 32.7334 17.3132 33.0789 17.9557C34.5436 17.1829 35.4929 15.6472 35.4929 13.9645C35.4929 11.4768 33.4637 9.4524 30.9689 9.4524C29.6683 9.4524 28.4648 9.99351 27.6074 10.9466ZM20.0235 17.2803C20.0968 16.9997 20.1587 16.6954 20.2037 16.3595C20.3886 14.9799 21.2547 13.9697 22.6425 13.5156C23.812 13.133 25.2934 13.1595 26.7742 13.5035C26.776 13.454 26.7777 13.4044 26.7777 13.3543C26.7777 10.8665 24.7485 8.84214 22.2537 8.84214C19.7594 8.84214 17.7297 10.866 17.7297 13.3543C17.7297 14.9874 18.6276 16.488 20.0235 17.2803ZM19.3423 22.5502C19.3671 22.756 19.4029 22.9617 19.4474 23.1651L28.6913 27.8461C29.4072 27.5309 30.0577 27.0952 30.6292 26.546C31.9164 25.3088 32.6433 23.6457 32.6762 21.8633C32.7092 20.081 32.0447 18.3919 30.8042 17.108C28.9756 15.2156 25.2136 14.0913 23.0637 14.7949C22.1578 15.0917 21.6597 15.6616 21.5424 16.5375C21.2923 18.4063 20.6111 19.4937 20.0633 20.3674C19.5659 21.162 19.2371 21.6864 19.3423 22.5502ZM17.3391 24.309C17.3333 24.3113 17.3281 24.3136 17.3224 24.3153C16.9456 24.4744 16.6215 24.7602 16.4222 25.1515C16.2061 25.5756 16.1697 26.0602 16.3193 26.5166C16.469 26.973 16.785 27.343 17.2103 27.5579L17.3016 27.604L18.1728 25.8925C18.3416 25.5612 18.7483 25.4287 19.0805 25.5969C19.4133 25.7652 19.5456 26.1709 19.3769 26.5022L18.5056 28.2137L25.5441 31.7779L26.4154 30.0664C26.5841 29.7345 26.9909 29.6025 27.3231 29.7708C27.6559 29.9391 27.7882 30.3447 27.6195 30.6761L26.7482 32.3876L26.8395 32.4337C27.2642 32.6486 27.7507 32.6855 28.2083 32.5363C28.6659 32.387 29.0368 32.0718 29.2523 31.6477C29.7001 30.7677 29.3471 29.6878 28.4648 29.2412L24.2522 27.1079L23.3809 28.8194C23.2619 29.0533 23.0244 29.1882 22.7783 29.1882C22.6755 29.1882 22.5709 29.1646 22.4732 29.115C22.1404 28.9467 22.0081 28.541 22.1768 28.2097L23.0481 26.4982L18.8356 24.3649C18.3502 24.1205 17.806 24.1171 17.3391 24.309ZM12.1397 24.1142L12.2004 24.1966L13.7528 23.062C14.0539 22.8418 14.4762 22.9069 14.6969 23.2072C14.9176 23.5074 14.8524 23.9286 14.5513 24.1488L12.9988 25.2834L17.6644 31.6338L19.2169 30.4992C19.4232 30.3488 19.6866 30.3315 19.9027 30.4329L17.2917 29.111C17.2917 29.111 17.2917 29.111 17.2912 29.111L16.5984 28.76C15.8519 28.382 15.2967 27.7343 15.0349 26.9356C14.7738 26.1375 14.8385 25.2875 15.2175 24.5424C15.4388 24.1073 15.7491 23.746 16.1148 23.4682L15.0349 21.9988C14.4496 21.2024 13.3247 21.0295 12.5262 21.6127C12.142 21.8939 11.8895 22.3099 11.8161 22.7842C11.7433 23.2585 11.8577 23.731 12.1397 24.1142ZM9.26929 39.4162C9.30396 40.1994 9.01276 40.9733 8.46907 41.5403C7.94387 42.0878 7.2228 42.4018 6.49018 42.4018C5.75756 42.4018 5.03649 42.0878 4.51129 41.5403C3.9676 40.9739 3.67582 40.1994 3.71107 39.4162L4.68809 17.4745C1.94133 16.4298 0 13.0592 0 9.20288C0 4.45795 2.91142 0.597582 6.49018 0.597582C10.0689 0.597582 12.9804 4.45795 12.9804 9.20288C12.9804 13.0592 11.039 16.4298 8.29284 17.4745L9.26929 39.4162ZM7.9196 39.4762L6.92004 17.0216C6.90618 16.7046 7.11533 16.4211 7.42271 16.3405C9.85978 15.7008 11.6289 12.6991 11.6289 9.20288C11.6289 5.20075 9.3236 1.94488 6.4896 1.94488C3.6556 1.94488 1.35027 5.20075 1.35027 9.20288C1.35027 12.6991 3.11942 15.7008 5.55649 16.3399C5.86387 16.4206 6.0736 16.7041 6.05916 17.021L5.0596 39.4756C5.04053 39.8991 5.19249 40.3019 5.48658 40.6085C5.75813 40.8915 6.12387 41.054 6.48902 41.054C6.85476 41.054 7.21991 40.8915 7.49204 40.6085C7.78729 40.3019 7.93867 39.8997 7.9196 39.4762ZM45.5098 9.87653C45.8825 9.87653 46.1852 9.57515 46.1852 9.20288V1.27123C46.1852 0.899543 45.8831 0.597582 45.5098 0.597582C45.1372 0.597582 44.8344 0.898967 44.8344 1.27123V9.20288C44.8344 9.57515 45.1372 9.87653 45.5098 9.87653ZM52 1.27123V9.20288C52 10.4315 51.803 11.6117 51.4453 12.6823C51.4332 12.7434 51.413 12.8011 51.3858 12.8546C50.6047 15.0612 49.136 16.7807 47.3119 17.4745L48.2889 39.4162C48.3236 40.1994 48.0324 40.9733 47.4887 41.5398C46.9635 42.0872 46.2424 42.4013 45.5098 42.4013C44.7772 42.4013 44.0561 42.0872 43.5309 41.5398C42.9872 40.9733 42.696 40.1988 42.7307 39.4162L43.7072 17.4745C41.8831 16.7807 40.4144 15.0612 39.6338 12.8546C39.6067 12.8011 39.5864 12.7429 39.5743 12.6823C39.2167 11.6117 39.0196 10.432 39.0196 9.20288V1.27123C39.0196 0.899543 39.3218 0.597582 39.6951 0.597582C40.0677 0.597582 40.3705 0.898967 40.3705 1.27123V9.20288C40.3705 10.1422 40.4982 11.0463 40.7322 11.8779H50.2869C50.5209 11.0458 50.6486 10.1422 50.6486 9.20288V1.27123C50.6486 0.899543 50.9508 0.597582 51.324 0.597582C51.6972 0.597582 52 0.899543 52 1.27123ZM49.7865 13.2252H41.2331C41.9831 14.8122 43.1681 15.9705 44.5767 16.3399C44.8841 16.4206 45.0938 16.7041 45.0794 17.021L44.0798 39.4756C44.0608 39.8991 44.2127 40.3019 44.5068 40.6085C44.7784 40.8915 45.1441 41.054 45.5098 41.054C45.8756 41.054 46.2413 40.8915 46.5128 40.6085C46.8069 40.3019 46.9589 39.8997 46.9398 39.4756L45.9403 17.021C45.9264 16.7041 46.1356 16.4206 46.4429 16.3399C47.8516 15.9705 49.0366 14.8122 49.7865 13.2252Z"
                                fill="black" />
                        </svg>
                        <h3 class="text-center">FOOD</h3>
                    </div>
                    <div class="box2 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.439481 40.2996C0.178149 40.2996 0.00392737 40.4738 0.00392737 40.7351V42.5644C0.00392737 42.8258 0.178149 43 0.439481 43H41.3815C41.6428 43 41.817 42.8258 41.817 42.5644V40.7351C41.817 40.4738 41.6428 40.2996 41.3815 40.2996H40.2055V28.6703H41.3815C41.6428 28.6703 41.817 28.4961 41.817 28.2347C41.817 28.1041 41.7735 27.9734 41.6864 27.9299L39.0295 24.5325V18.5219L39.4215 18.8703C39.5957 19.0446 39.9006 19.0446 40.0313 18.8268L41.2073 17.5201C41.3815 17.3459 41.3379 17.0846 41.1637 16.9104L31.5815 8.11218C31.538 8.06862 31.4944 8.02507 31.4509 8.02507L21.1718 0.0979995C20.9976 -0.0326665 20.7798 -0.0326665 20.6492 0.0979995L10.3701 8.02507C10.3265 8.02507 10.283 8.06862 10.2394 8.11218L0.657257 16.9104C0.483036 17.0846 0.483036 17.3459 0.613702 17.5201L1.7897 18.8268C1.96392 19.001 2.22525 19.0446 2.39947 18.8703L2.79147 18.5219V24.5325L1.0057 26.7974L0.962145 26.841L0.091038 27.9734C0.00392739 28.1041 -0.039628 28.2783 0.0474827 28.4525C0.134593 28.5832 0.265259 28.7139 0.439481 28.7139H1.61547V40.3431H0.439481V40.2996ZM40.9459 42.1724H0.875034V41.2142C14.7256 41.2142 26.5291 41.2142 40.9459 41.2142V42.1724ZM22.6091 40.2996H19.2118V32.1547H22.6091V40.2996ZM23.9158 40.2996H23.0447V31.9369C23.0447 31.8063 22.9576 31.7192 22.8269 31.7192H18.9941C18.8634 31.7192 18.7763 31.8063 18.7763 31.9369V40.3431H17.9052V30.8481H23.9158V40.2996ZM38.1584 17.7815V24.2712H24.4385V17.7815C24.4385 17.7815 24.4385 17.7815 24.4385 17.7379L31.3202 11.4224L38.1584 17.7815C38.1584 17.7379 38.1584 17.7379 38.1584 17.7815ZM18.2536 24.2712V18.5219L18.6456 18.8703C18.8198 19.0446 19.0812 19.0446 19.2554 18.8268L20.4314 17.5201C20.6056 17.3459 20.562 17.0846 20.3878 16.9104L12.8092 9.9415L20.9105 3.75665L29.0118 9.98506L21.4331 16.9539C21.2589 17.1281 21.2589 17.3895 21.3896 17.5637L22.5656 18.8703C22.7398 19.0446 23.0011 19.0881 23.1754 18.9139L23.5674 18.5655V24.3148H18.2536V24.2712ZM39.6828 17.9557L31.5815 10.5077C31.4073 10.3335 31.146 10.3335 30.9718 10.5077L22.914 17.9557L22.3478 17.3024C23.2625 16.4748 18.9941 20.3512 31.3202 9.0704L40.2926 17.3024L39.6828 17.9557ZM20.9105 1.01266L30.6233 8.50418C30.5798 8.54773 29.578 9.46239 29.6651 9.37528L21.2154 2.84199C21.0847 2.79843 20.9976 2.75487 20.9105 2.75487C20.8234 2.75487 20.6927 2.79843 20.6492 2.84199L12.1994 9.37528C12.1559 9.33173 11.1541 8.41707 11.2412 8.50418L20.9105 1.01266ZM2.13814 17.9557L1.57192 17.3024L10.5443 9.0704C22.8705 20.3512 18.6021 16.4748 19.5167 17.3024L18.9505 17.9557L10.8056 10.5077C10.6314 10.3335 10.3701 10.3335 10.1959 10.5077L2.13814 17.9557ZM10.5008 11.4224L17.3825 17.7379C17.3825 17.7379 17.3825 17.7379 17.3825 17.7815V24.2712H3.66257V17.7815C3.66257 17.7815 3.66257 17.7815 3.66257 17.7379L10.5008 11.4224ZM1.83325 27.1894H3.92391C4.05457 27.1894 4.14168 27.1023 4.14168 26.9716C4.14168 26.841 4.05457 26.7539 3.92391 26.7539H2.18169L3.4448 25.1423H17.8181H24.0029H38.3762L39.6393 26.7539H37.5486C37.418 26.7539 37.3308 26.841 37.3308 26.9716C37.3308 27.1023 37.4615 27.1894 37.5486 27.1894H39.9877L40.4668 27.8427C38.6811 27.8427 6.36301 27.8427 1.31059 27.8427L1.83325 27.1894ZM2.48658 28.6703H39.2908V40.2996H24.3514V30.6303C24.3514 30.4996 24.2642 30.4125 24.1336 30.4125H17.6874C17.5567 30.4125 17.4696 30.4996 17.4696 30.6303V40.3431H2.48658V28.6703Z"
                                fill="black" />
                        </svg>
                        <h3 class="text-center">HOTELS</h3>
                    </div>
                    <div class="box3 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="39" height="43" viewBox="0 0 39 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.2241 8.48008C19.4268 8.48008 20.4053 7.50157 20.4053 6.29839C20.4053 5.09521 19.4268 4.1167 18.2241 4.1167C17.0209 4.1167 16.0424 5.09521 16.0424 6.29839C16.0424 7.50157 17.0209 8.48008 18.2241 8.48008ZM18.2241 5.07274C18.9 5.07274 19.4493 5.62247 19.4493 6.29839C19.4493 6.97431 18.8996 7.52404 18.2241 7.52404C17.5487 7.52404 16.9985 6.97431 16.9985 6.29839C16.9985 5.62247 17.5482 5.07274 18.2241 5.07274Z"
                                fill="black" />
                            <path
                                d="M12.0098 8.48008C13.213 8.48008 14.1915 7.50157 14.1915 6.29839C14.1915 5.09521 13.213 4.1167 12.0098 4.1167C10.8066 4.1167 9.82812 5.09521 9.82812 6.29839C9.82812 7.50157 10.8066 8.48008 12.0098 8.48008ZM12.0098 5.07274C12.6857 5.07274 13.2355 5.62247 13.2355 6.29839C13.2355 6.97431 12.6857 7.52404 12.0098 7.52404C11.3339 7.52404 10.7842 6.97431 10.7842 6.29839C10.7842 5.62247 11.3339 5.07274 12.0098 5.07274Z"
                                fill="black" />
                            <path
                                d="M5.79552 8.48008C6.99871 8.48008 7.97722 7.50157 7.97722 6.29839C7.97722 5.09521 6.99871 4.1167 5.79552 4.1167C4.59234 4.1167 3.61383 5.09521 3.61383 6.29839C3.61383 7.50157 4.59234 8.48008 5.79552 8.48008ZM5.79552 5.07274C6.47145 5.07274 7.02117 5.62247 7.02117 6.29839C7.02117 6.97431 6.47145 7.52404 5.79552 7.52404C5.1196 7.52404 4.56987 6.97431 4.56987 6.29839C4.56987 5.62247 5.1196 5.07274 5.79552 5.07274Z"
                                fill="black" />
                            <path
                                d="M23.5244 7.88878H33.462C33.7264 7.88878 33.94 7.67462 33.94 7.41076V5.18652C33.94 4.92265 33.7264 4.7085 33.462 4.7085H23.5244C23.2601 4.7085 23.0464 4.92265 23.0464 5.18652V7.41076C23.0464 7.67462 23.2601 7.88878 23.5244 7.88878ZM28.971 5.66454H32.984V6.93273H28.971V5.66454ZM24.0024 5.66454H28.0154V6.93273H24.0024V5.66454Z"
                                fill="black" />
                            <path
                                d="M17.7982 35.5491C24.0636 35.5491 29.1608 30.4519 29.1608 24.1865C29.1608 17.9211 24.0636 12.8239 17.7982 12.8239C11.5332 12.8239 6.4361 17.9211 6.4361 24.1865C6.4361 30.4519 11.5328 35.5491 17.7982 35.5491ZM17.7982 13.7804C23.5364 13.7804 28.2047 18.4488 28.2047 24.187C28.2047 29.9252 23.5364 34.5935 17.7982 34.5935C12.0605 34.5935 7.39214 29.9252 7.39214 24.187C7.39214 18.4488 12.06 13.7804 17.7982 13.7804Z"
                                fill="black" />
                            <path
                                d="M17.7982 33.1829C22.7586 33.1829 26.7946 29.1474 26.7946 24.187C26.7946 19.2266 22.7591 15.1906 17.7982 15.1906C12.8378 15.1906 8.80231 19.2261 8.80231 24.187C8.80231 29.1474 12.8378 33.1829 17.7982 33.1829ZM17.7982 16.1467C22.2319 16.1467 25.8385 19.7533 25.8385 24.187C25.8385 28.6206 22.2319 32.2268 17.7982 32.2268C13.365 32.2268 9.75835 28.6202 9.75835 24.187C9.75835 19.7538 13.3646 16.1467 17.7982 16.1467Z"
                                fill="black" />
                            <path
                                d="M26.9318 15.1289H33.1312C33.3956 15.1289 33.6092 14.9148 33.6092 14.6509V11.9534C33.6092 11.6896 33.3956 11.4754 33.1312 11.4754H26.9318C26.6674 11.4754 26.4537 11.6896 26.4537 11.9534V14.6509C26.4537 14.9153 26.6674 15.1289 26.9318 15.1289ZM27.4098 12.4319H32.6532V14.1734H27.4098V12.4319Z"
                                fill="black" />
                            <path
                                d="M38.6873 0.317885C38.6835 0.30689 38.6763 0.279165 38.6749 0.276297C38.6529 0.228495 38.6218 0.187385 38.5869 0.150577C38.5769 0.14006 38.5654 0.132412 38.5549 0.12333C38.5233 0.0956044 38.4894 0.0721813 38.4516 0.0535385C38.4368 0.0463681 38.4229 0.0391979 38.4072 0.0334616C38.3546 0.0138627 38.2996 0 38.2413 0H2.46564C2.31363 0 2.1707 0.0721814 2.08083 0.194555L0.0932142 2.89203C0.0822197 2.90733 0.040154 2.99672 0.0296375 3.02827C0.019599 3.05934 0 3.15686 0 3.1755V39.2356C0 39.4999 0.214154 39.7136 0.478022 39.7136H3.54931V42.522C3.54931 42.7863 3.76347 43 4.02734 43H8.09052C8.35439 43 8.56855 42.7863 8.56855 42.522V39.7136H29.8405V42.522C29.8405 42.7863 30.0542 43 30.3186 43H34.3817C34.6461 43 34.8598 42.7863 34.8598 42.522V39.7136H38.2418C38.5061 39.7136 38.7198 39.4999 38.7198 39.2356V0.477544C38.7198 0.46894 38.7035 0.361863 38.6873 0.317885ZM7.6125 42.0435H4.50536V39.7131H7.6125V42.0435ZM33.9037 42.0435H30.7966V39.7131H33.9037V42.0435ZM35.4922 38.7571H0.956044V10.0418H35.4922V38.7571ZM35.4922 9.08577H0.956044V3.65352H35.4922V9.08577ZM35.7479 2.69748H1.42403L2.70704 0.956044H37.2145L35.7479 2.69748ZM37.7637 38.7571H36.4482V3.3495L37.7637 1.78732V38.7571Z"
                                fill="black" />
                            <path
                                d="M4.02733 15.3421C5.15212 15.3421 6.06705 14.4272 6.06705 13.3024C6.06705 12.1776 5.15212 11.2627 4.02733 11.2627C2.90254 11.2627 1.98761 12.1776 1.98761 13.3024C1.98761 14.4272 2.90254 15.3421 4.02733 15.3421ZM4.02733 12.2187C4.62486 12.2187 5.11101 12.7049 5.11101 13.3024C5.11101 13.8999 4.62486 14.3861 4.02733 14.3861C3.4298 14.3861 2.94365 13.8999 2.94365 13.3024C2.94365 12.7049 3.4298 12.2187 4.02733 12.2187Z"
                                fill="black" />
                        </svg>
                        <h3 class="text-center">WASHING</h3>
                    </div>
                    <div class="box4 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="29" height="43" viewBox="0 0 29 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.8453 18.2117C5.64124 18.6198 2.01931 25.4556 0.897018 27.8532C-0.531351 30.863 -0.225272 34.5359 1.6112 37.5457C3.03957 39.9433 5.33517 41.6268 8.03887 42.341C10.7426 43.0551 13.5483 42.6981 15.9969 41.3207L26.4036 35.0461C27.3729 34.4849 27.832 33.3626 27.73 32.3424C27.6789 31.9343 27.5769 31.5262 27.3219 31.1691C27.0158 30.71 26.6077 30.3018 26.0975 30.0978L27.4239 29.2816C28.0871 28.8735 28.4952 28.2613 28.6992 27.5471C28.8012 27.2411 28.8012 26.884 28.7502 26.5779C28.6992 26.1698 28.5972 25.7617 28.3421 25.4046C28.036 24.9455 27.6279 24.5374 27.1178 24.3333C27.73 23.9252 28.1891 23.313 28.3421 22.5989C28.4441 22.2928 28.4441 21.9357 28.3931 21.6296C28.3421 21.2215 28.2401 20.8134 27.985 20.4563C27.1688 19.13 25.4344 18.7219 24.108 19.487L23.2918 20.1502C23.2918 19.9972 23.2918 19.8441 23.2918 19.6401C23.2408 19.283 23.1388 18.8749 22.9347 18.5688C22.5266 17.9056 21.9145 17.4975 21.2003 17.2935C20.4861 17.0894 19.7209 17.2425 19.0577 17.6506L9.97737 23.262L10.9466 20.7114C11.2527 20.0482 11.3037 19.283 11.0486 18.5688C10.7936 17.8546 10.2834 17.2935 9.62027 16.9364C8.24292 16.2732 6.55948 16.8344 5.8453 18.2117ZM9.05913 18.0587C9.41622 18.2627 9.7223 18.5688 9.82433 18.9769C9.97737 19.385 9.92635 19.7931 9.77331 20.1502V20.2012L7.98785 24.9455C7.88583 25.1495 7.93684 25.4046 8.08988 25.6086C9.92635 27.7002 10.0284 31.3731 8.34494 33.5157C8.14089 33.7707 8.19191 34.1788 8.44697 34.3829C8.70204 34.587 9.11014 34.5359 9.31419 34.2809C11.3037 31.8322 11.2527 27.7512 9.31419 25.1495L19.6699 18.7219C20.027 18.5178 20.4351 18.4158 20.8432 18.5178C21.2513 18.6198 21.6084 18.8749 21.8124 19.232C22.2205 19.9462 21.9655 20.9664 21.1493 21.4255L13.9054 25.8637C13.5993 26.0678 13.4973 26.4248 13.7013 26.7309C13.9054 27.037 14.2625 27.139 14.5686 26.935L24.8222 20.6604C25.5364 20.2012 26.5056 20.4563 26.9648 21.1705C27.1688 21.5276 27.2708 21.9357 27.1688 22.3438C27.0668 22.7519 26.8117 23.109 26.4546 23.313L24.5161 24.4863L17.6804 28.6694C17.3743 28.8735 17.2723 29.2306 17.4763 29.5366C17.6804 29.8427 18.0375 29.9448 18.3435 29.7407L25.0773 25.6596L25.2303 25.5576C25.5874 25.3536 25.9955 25.2515 26.4036 25.3536C26.8117 25.4556 27.1688 25.7107 27.3729 26.0678C27.5769 26.4248 27.6789 26.8329 27.5769 27.2411C27.4749 27.6492 27.2198 28.0063 26.8627 28.2103L23.6489 30.1488C23.5979 30.1488 23.5979 30.1998 23.5469 30.1998L16.6601 34.3829C16.354 34.587 16.252 34.944 16.456 35.2501C16.6601 35.5562 17.0172 35.6582 17.3233 35.4542L24.2101 31.2711C24.9242 30.812 25.8935 31.067 26.3526 31.7812C26.8117 32.4954 26.5567 33.4647 25.8425 33.9238L15.4358 40.3004C10.9976 42.8001 5.38618 41.3207 2.73349 36.9846C1.10107 34.2299 0.846005 31.067 2.07032 28.4144C3.19261 26.0167 6.91658 18.8749 6.96759 18.8239C7.37569 18.0077 8.29393 17.7016 9.05913 18.0587Z"
                                fill="black" />
                            <path
                                d="M19.6698 5.71348L20.8942 5.91753H20.9452L22.1185 6.12158L24.6691 6.5807C24.8222 6.63172 24.9752 6.63171 25.1793 6.63171C26.6076 6.63171 27.7809 5.61145 28.036 4.2341C28.1891 3.4689 27.985 2.7037 27.5259 2.09154C27.0668 1.47938 26.4036 1.02026 25.6384 0.918238L21.8634 0.255066L20.6391 0.0510129C20.4861 -2.9266e-07 20.333 0 20.129 0C18.7006 0 17.5273 1.02026 17.2722 2.39762C17.1192 3.16282 17.3232 3.92802 17.7824 4.54017C18.2415 5.15233 18.9047 5.61145 19.6698 5.71348ZM22.9347 1.68344L25.4854 2.14255C25.9445 2.19357 26.3016 2.44863 26.5566 2.80573C26.8117 3.16282 26.9137 3.62194 26.8117 4.03004C26.6587 4.84625 25.9955 5.4074 25.1793 5.4074C25.0772 5.4074 24.9752 5.4074 24.9242 5.4074L22.3735 4.94828L22.9347 1.68344ZM19.3128 1.68344C19.3128 1.58141 19.3638 1.47938 19.4148 1.42837C19.5678 1.22432 19.7719 1.12229 20.0269 1.1733L21.3023 1.37736C21.3533 1.37736 21.4043 1.37736 21.4553 1.42837C21.5063 1.47938 21.6084 1.5304 21.6594 1.58141C21.8124 1.73445 21.8634 1.9385 21.8124 2.14255C21.7614 2.34661 21.6594 2.49965 21.5063 2.60167C21.4043 2.65269 21.3023 2.65269 21.2002 2.65269C21.1492 2.65269 21.1492 2.65269 21.0982 2.65269L19.8229 2.39762C19.4658 2.34661 19.2617 1.98951 19.3128 1.68344Z"
                                fill="black" />
                            <path
                                d="M5.79427 9.53946C5.94731 9.59048 6.10035 9.59048 6.25339 9.64149L8.70202 9.84554L9.87533 9.94757H9.92634L11.0996 10.0496C11.8648 10.1006 12.579 9.84554 13.1402 9.33541C13.7013 8.82528 14.0584 8.1111 14.1604 7.3459C14.3135 5.91753 13.4463 4.6422 12.1199 4.33612C11.9669 4.2851 11.8138 4.28511 11.6608 4.23409L10.4875 4.13207L6.81454 3.82599C6.04934 3.77497 5.33515 4.03004 4.77401 4.54017C4.21286 5.0503 3.85577 5.76449 3.75374 6.52969C3.65172 7.90704 4.51894 9.18237 5.79427 9.53946ZM10.0794 5.96854C10.0794 5.76449 10.2324 5.61145 10.3855 5.50942C10.4365 5.45841 10.5385 5.45841 10.5895 5.4074C10.6405 5.4074 10.6915 5.4074 10.7426 5.4074L11.9669 5.50942C12.2219 5.50942 12.375 5.71347 12.477 5.91753C12.528 6.01955 12.528 6.07057 12.528 6.17259C12.477 6.52969 12.2219 6.78475 11.8648 6.73374L10.6405 6.63171C10.5895 6.63171 10.5895 6.63171 10.5385 6.63171C10.4365 6.63171 10.3344 6.5807 10.2834 6.47867C10.1304 6.32563 10.0794 6.17259 10.0794 5.96854ZM4.97806 6.5807C5.02907 6.12158 5.23313 5.76449 5.53921 5.45841C5.84529 5.15233 6.25339 5.0503 6.71251 5.0503L9.16114 5.25436L8.85506 8.5192L6.40643 8.31515C6.3044 8.31515 6.25339 8.31515 6.15136 8.26413C5.38617 8.11109 4.92705 7.39691 4.97806 6.5807Z"
                                fill="black" />
                            <path
                                d="M11.8138 13.9266C11.5588 14.6407 11.5588 15.4059 11.8648 16.1201C12.426 17.4465 13.7523 18.1607 15.0787 17.8546C15.2317 17.8036 15.3848 17.7526 15.5378 17.7015L17.8334 16.7323L18.9047 16.2732H18.9557L20.078 15.8141C20.7411 15.508 21.3023 14.9468 21.5574 14.2326C21.8124 13.5185 21.8124 12.7533 21.5063 12.0391C20.9452 10.7127 19.6189 9.99855 18.2925 10.3046C18.1395 10.3556 17.9864 10.4067 17.8334 10.4577L16.6601 10.8658L13.2932 12.3452C12.579 12.6512 12.0689 13.2124 11.8138 13.9266ZM17.1702 12.1411C17.2212 12.0901 17.2722 11.9881 17.3233 11.937C17.3743 11.886 17.4253 11.886 17.4763 11.835L18.5986 11.3249C18.8026 11.2229 19.0577 11.2739 19.2108 11.4269C19.2618 11.4779 19.3128 11.58 19.3638 11.631C19.5168 11.937 19.3638 12.2941 19.0577 12.4472L17.9354 12.9573C17.8844 12.9573 17.8844 12.9573 17.8334 13.0083C17.7314 13.0083 17.6293 13.0083 17.5273 13.0083C17.3743 12.9573 17.1702 12.8553 17.1192 12.6512C17.0682 12.4982 17.0682 12.2941 17.1702 12.1411ZM16.0479 12.4982L17.3233 15.508L15.0277 16.4772C14.9256 16.5282 14.8746 16.5282 14.7726 16.5792C14.0074 16.7833 13.2422 16.3752 12.9361 15.61C12.7831 15.2019 12.7321 14.7428 12.8851 14.3347C13.0382 13.9266 13.3442 13.6205 13.7013 13.4674L16.0479 12.4982Z"
                                fill="black" />
                        </svg>
                        <h3 class="text-center">PHARMACY</h3>
                    </div>
                    <div class="box5 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="46" height="42" viewBox="0 0 46 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M25.6128 24.7151C25.6128 23.454 24.5867 22.428 23.3257 22.428H11.9919C10.7308 22.428 9.70477 23.454 9.70477 24.7151V31.9306C9.70477 33.1917 10.7308 34.2177 11.9919 34.2177H23.3257C24.5867 34.2177 25.6128 33.1917 25.6128 31.9306V24.7151ZM24.2353 31.9306C24.2353 32.432 23.827 32.8402 23.3257 32.8402H11.9919C11.4905 32.8402 11.0822 32.432 11.0822 31.9306V24.7151C11.0822 24.2137 11.4905 23.8055 11.9919 23.8055H23.3257C23.827 23.8055 24.2353 24.2137 24.2353 24.7151V31.9306Z"
                                fill="black" />
                            <path
                                d="M43.7397 36.6752C43.5245 36.2017 43.0493 35.8951 42.5269 35.8951H39.274V31.1085C39.274 29.9888 38.5421 29.0457 37.5348 28.7067V21.2379C37.5348 20.0001 36.5276 18.9929 35.2898 18.9929C34.052 18.9929 33.0447 20.0001 33.0447 21.2379V28.7062C32.0374 29.0451 31.3049 29.9877 31.3049 31.108V35.8945H30.0478L33.0538 16.8829H34.6294C35.0098 16.8829 35.3181 16.5746 35.3181 16.1942C35.3181 15.8138 35.0098 15.5055 34.6294 15.5055H32.3894C32.4099 15.3266 32.4315 15.1477 32.4315 14.9655C32.4315 12.4927 30.4958 10.464 28.0611 10.3135C27.9555 7.99406 26.0386 6.1402 23.6976 6.1402C21.7415 6.1402 20.0563 7.43989 19.5038 9.23697C18.6539 8.92752 17.6977 8.88436 16.8045 9.1393C16.0136 7.47225 14.3051 6.35823 12.4268 6.35823C9.8598 6.35823 7.75157 8.36085 7.5835 10.8858C7.47789 10.8785 7.36831 10.8751 7.25588 10.8751C4.84331 10.8751 2.87987 12.8385 2.87987 15.2511C2.87987 15.3368 2.89179 15.4208 2.89634 15.506H0.688738C0.308314 15.5055 0 15.8138 0 16.1942C0 16.5746 0.308314 16.8829 0.688738 16.8829H2.26608L5.60019 37.9891C5.96812 40.3102 7.94178 41.9955 10.2942 41.9955H25.016C25.3533 41.9955 25.6707 41.9523 25.9762 41.8876C26.1369 41.9552 26.3078 42 26.4889 42H44.09C45.057 42 45.7043 41.0013 45.3029 40.1178L43.7397 36.6752ZM34.4227 21.2379C34.4227 20.7598 34.8122 20.3709 35.2898 20.3709C35.7673 20.3709 36.1568 20.7604 36.1568 21.2379V28.5637H34.4222L34.4227 21.2379ZM32.683 31.108C32.683 30.4646 33.2065 29.9411 33.8498 29.9411H36.7308C37.3741 29.9411 37.8965 30.4646 37.8965 31.108V35.8945H32.683V31.108ZM4.25735 15.2505C4.25735 13.5977 5.60246 12.2525 7.25532 12.2525C7.57101 12.2525 7.83674 12.29 8.06727 12.3672C8.5374 12.5251 9.02173 12.1447 8.9712 11.645C8.95757 11.507 8.94962 11.3622 8.94962 11.2106C8.94962 9.29375 10.5094 7.73514 12.4257 7.73514C13.9457 7.73514 15.3107 8.75604 15.7462 10.217C15.8665 10.6201 16.3174 10.8223 16.6967 10.6445C17.675 10.1897 18.7816 10.2766 19.6339 10.833C20.0756 11.1186 20.6599 10.8262 20.6968 10.3039C20.8064 8.74128 22.1237 7.51711 23.697 7.51711C25.3453 7.51711 26.6871 8.86222 26.6871 10.5151C26.6871 10.6372 26.6825 10.7536 26.6581 10.8756C26.582 11.2617 26.9335 11.7307 27.4292 11.6938C27.5456 11.6876 27.6569 11.6813 27.7693 11.6813C29.58 11.6813 31.0528 13.1542 31.0528 14.9649C31.0528 15.1477 31.0387 15.3283 31.0091 15.5049H4.26813C4.26132 15.4214 4.25735 15.3362 4.25735 15.2505ZM10.2942 40.6174C8.62314 40.6174 7.22125 39.4211 6.9612 37.7733L3.66173 16.8863H3.69409H31.6576L28.6522 35.8945H28.052C27.5308 35.8945 27.055 36.2011 26.8404 36.6746L25.2755 40.1178C25.2045 40.275 25.1756 40.4414 25.1676 40.6078C25.1165 40.61 25.0694 40.6174 25.016 40.6174H10.2942ZM42.8454 40.6271V39.5216C42.8454 39.1412 42.5371 38.8328 42.1567 38.8328C41.7763 38.8328 41.468 39.1412 41.468 39.5216V40.6316L40.0984 40.6367V39.5216C40.0984 39.1412 39.7901 38.8328 39.4097 38.8328C39.0293 38.8328 38.721 39.1412 38.721 39.5216V40.6418L37.3526 40.647V39.5216C37.3526 39.1412 37.0442 38.8328 36.6638 38.8328C36.2834 38.8328 35.9751 39.1412 35.9751 39.5216V40.6521L34.6067 40.6572V39.5216C34.6067 39.1412 34.2984 38.8328 33.918 38.8328C33.5375 38.8328 33.2292 39.1412 33.2292 39.5216V40.6623L31.8597 40.6674V39.5216C31.8597 39.1412 31.5514 38.8328 31.1709 38.8328C30.7905 38.8328 30.4822 39.1412 30.4822 39.5216V40.6725L29.1138 40.6776V39.5216C29.1138 39.1412 28.8055 38.8328 28.4251 38.8328C28.0447 38.8328 27.7363 39.1412 27.7363 39.5216V40.6833L26.5826 40.6878C26.5712 40.6765 26.5576 40.668 26.5457 40.6577L28.0543 37.2731C39.8514 37.2742 23.3916 37.2731 42.5002 37.2731L44.0923 40.6231L42.8454 40.6271Z"
                                fill="black" />
                            <path
                                d="M26.7932 3.99674C26.7932 5.48096 28.0003 6.6881 29.484 6.6881C30.9682 6.6881 32.1754 5.48096 32.1754 3.99674C32.1754 2.50627 30.9682 1.29346 29.484 1.29346C28.0003 1.29346 26.7932 2.50627 26.7932 3.99674ZM30.7973 3.99674C30.7973 4.72125 30.2079 5.31062 29.4834 5.31062C28.7595 5.31062 28.1707 4.72125 28.1707 3.99674C28.1707 3.26599 28.7601 2.67093 29.4834 2.67093C30.2085 2.67093 30.7973 3.26599 30.7973 3.99674Z"
                                fill="black" />
                            <path
                                d="M35.7593 0C34.4068 0 33.3069 1.1038 33.3069 2.46197C33.3069 3.81446 34.4068 4.91429 35.7593 4.91429C37.1118 4.91429 38.2116 3.81446 38.2116 2.46197C38.211 1.10437 37.1118 0 35.7593 0ZM35.7593 3.53681C35.1665 3.53681 34.685 3.05532 34.685 2.46254C34.685 1.86408 35.1665 1.37804 35.7593 1.37804C36.352 1.37804 36.8335 1.86408 36.8335 2.46254C36.8335 3.05475 36.352 3.53681 35.7593 3.53681Z"
                                fill="black" />
                        </svg>
                        <h3 class="text-center">CLEANERS</h3>
                    </div>
                    <div class="box6 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M42.9328 7.70347L41.8242 5.01677C41.6898 4.68093 41.2867 4.51301 40.9508 4.64735L39.6406 5.18469C39.1367 4.47943 38.4984 3.87492 37.793 3.33758L38.3305 2.02782C38.4648 1.69198 38.2969 1.28897 37.9609 1.15464L35.2734 0.0463739C34.9375 -0.0879611 34.5344 0.0799577 34.4 0.415795L33.8625 1.72556C32.9891 1.59123 32.1156 1.59123 31.2758 1.72556L30.7383 0.415795C30.6039 0.0799577 30.2008 -0.0879611 29.8648 0.0463739L27.1773 1.15464C26.8414 1.28897 26.6734 1.69198 26.8078 2.02782L27.3453 3.33758C26.6398 3.84134 26.0352 4.47943 25.4977 5.18469L24.1875 4.64735C23.8516 4.51301 23.4484 4.68093 23.3141 5.01677L22.2055 7.70347C22.0711 8.03931 22.2391 8.44231 22.575 8.57665L23.8852 9.11399C23.7508 9.98717 23.7508 10.8603 23.8852 11.6999L22.575 12.2373C22.2391 12.3716 22.0711 12.7746 22.2055 13.1105L23.3141 15.7972C23.4484 16.133 23.8516 16.3009 24.1875 16.1666L25.4977 15.6292C25.8672 16.1666 26.3375 16.6368 26.8078 17.0398L25.0273 21.5064H19.9883L23.1797 17.5099C23.6836 16.8718 23.5828 15.9651 22.9781 15.4277L15.7555 9.55058C15.3523 9.24832 14.8484 9.14757 14.3781 9.28191C13.4039 8.30798 10.5484 5.18469 9.87656 0.583714C9.80937 0.214293 9.47344 -0.0543773 9.10391 0.0127902C8.93594 0.0463739 8.76797 0.113541 8.66719 0.247876L0.167969 10.7932C-0.0671875 11.0954 -0.0335937 11.4984 0.26875 11.7335C0.403125 11.8343 0.571094 11.9014 0.739062 11.8679C5.27422 11.5656 8.90234 13.6814 10.1117 14.4538C10.0109 14.9911 10.2125 15.5285 10.6156 15.8643L14.0422 18.6518L11.7578 21.5064H9.40625C9.33906 21.5064 9.23828 21.5064 9.17109 21.54L3.79609 19.1555H12.4633L10.8172 17.8122H0.671875C0.302344 17.8122 0 18.1144 0 18.4839C0 18.5846 0.0335938 18.6854 0.0671875 18.7525C0.0335938 18.8197 0.0335938 18.8869 0.0335938 18.9876L0.0671875 38.6005C0.0671875 38.8692 0.235156 39.1043 0.470313 39.205L8.90234 42.9328C9.00313 42.9664 9.07031 43 9.17109 43H42.3281C42.6977 43 43 42.6977 43 42.3283V22.1781C43 21.8086 42.6977 21.5064 42.3281 21.5064H42.2273L39.2711 20.3645C39.0695 20.5996 38.8008 20.8011 38.4984 20.9019L37.7594 21.2041L38.4984 21.5064H31.175L32.1156 19.1891C32.6867 19.2227 33.2914 19.1891 33.8625 19.1219L34.4 20.4317C34.5344 20.7676 34.9375 20.9355 35.2734 20.8011L37.9609 19.6929C38.2969 19.5585 38.4648 19.1555 38.3305 18.8197L37.793 17.5099C38.4984 17.0062 39.1031 16.3681 39.6406 15.6628L40.9508 16.2002C41.2867 16.3345 41.6898 16.1666 41.8242 15.8307L42.9328 13.144C43.0672 12.8082 42.8992 12.4052 42.5633 12.2709L41.2531 11.7335C41.3875 10.8603 41.3875 9.98717 41.2531 9.14757L42.5633 8.61023C42.9328 8.44231 43.1008 8.03931 42.9328 7.70347ZM8.16328 22.5811L5.81172 28.2903L3.56094 27.4843L1.54531 19.6257L8.16328 22.5811ZM8.76797 41.4216L1.41094 38.1639V24.2938L2.41875 28.156C2.48594 28.3575 2.62031 28.559 2.85547 28.6262L6.04688 29.8016C6.38281 29.9359 6.75234 29.768 6.88672 29.4322L8.80156 24.764V41.4216H8.76797ZM2.11641 10.5245L8.83516 2.22932C9.60781 5.25186 11.1531 7.97214 13.3703 10.1887L10.8172 13.3455C8.19688 11.6328 5.20703 10.6588 2.11641 10.5245ZM11.4555 14.8568C11.3883 14.8232 11.3883 14.7225 11.4219 14.6553L14.7141 10.5917C14.7477 10.5581 14.7812 10.5581 14.8148 10.5581C14.8484 10.5581 14.882 10.5581 14.9156 10.5917L22.1383 16.4688C22.2055 16.5024 22.2055 16.6032 22.1383 16.6368L18.8461 20.7004C18.8125 20.734 18.8125 20.734 18.7789 20.734C18.7453 20.734 18.7117 20.734 18.6781 20.7004L15.0164 17.7114L11.4555 14.8568ZM15.0836 19.5585L17.1328 21.2377L16.8977 21.5064H13.5047L15.0836 19.5585ZM41.6562 41.6567H10.0781V25.7379L12.9672 31.3464C13.068 31.5815 13.3031 31.7159 13.5719 31.7159H38.532C38.8008 31.7159 39.0359 31.5479 39.1367 31.3129L41.6227 25.7044V41.6567H41.6562ZM41.4211 22.9505L38.0953 30.3725H13.975L10.1789 22.9505H41.4211ZM32.2836 15.2598L29.7305 21.5064H26.4719L29.5289 14.0844C29.6297 13.8493 29.5961 13.5806 29.4281 13.3791C29.193 13.1105 28.9914 12.8082 28.857 12.4724C28.1852 10.9947 28.3867 9.28191 29.4281 8.00572C29.5625 7.80422 29.7977 7.70347 30.0328 7.70347C30.1336 7.70347 30.268 7.73705 30.3687 7.77064C30.5703 7.87139 30.7383 8.00572 30.8055 8.24081C30.9398 8.50948 30.9062 8.84532 30.7047 9.0804C29.9656 9.95358 29.8984 11.1962 30.5703 12.1365C31.1078 12.909 32.0148 13.2784 32.9219 13.1105C34.0641 12.909 34.9039 11.9686 34.9711 10.8268C34.9711 10.7596 35.0047 10.6924 35.0047 10.6253C35.1055 10.4238 35.2734 10.2558 35.475 10.1887C35.7437 10.0879 36.0461 10.1215 36.2812 10.2894C36.5164 10.4573 36.6508 10.7596 36.6172 11.0283C36.4828 12.6403 35.4414 14.0172 33.9297 14.5881C33.5938 14.7225 33.2242 14.7896 32.8883 14.8232C32.6195 14.8568 32.3844 15.0247 32.2836 15.2598ZM40.2789 8.10648C39.9766 8.24081 39.8086 8.54306 39.8758 8.8789C40.1109 9.92 40.1109 10.9947 39.8758 12.0358C39.8086 12.338 39.9766 12.6739 40.2789 12.8082L41.4547 13.312L40.85 14.7561L39.6742 14.2523C39.3719 14.118 39.0359 14.2523 38.868 14.521C38.2969 15.4277 37.5242 16.1666 36.6508 16.7375C36.382 16.9054 36.2812 17.2748 36.382 17.5435L36.8859 18.7189L35.4414 19.3235L34.9375 18.148C34.8367 17.9129 34.6016 17.745 34.3328 17.745C34.2992 17.745 34.232 17.745 34.1984 17.745C33.7281 17.8458 33.2242 17.9129 32.7203 17.9129L33.4258 16.1666C33.7617 16.0994 34.0977 16.0322 34.4 15.8979C36.4156 15.1591 37.793 13.312 37.9945 11.1962C38.0953 9.98717 37.2219 8.94607 36.0125 8.84532C35.6766 8.81173 35.307 8.8789 35.0047 9.01324C34.4672 9.24832 34.0305 9.65133 33.8289 10.1887C33.7617 10.3902 33.6945 10.5917 33.6945 10.8268C33.6609 11.3641 33.2914 11.7671 32.7539 11.8679C32.3508 11.935 31.9477 11.7671 31.7125 11.4313C31.4102 10.9947 31.4438 10.4238 31.7797 10.0207C32.5523 9.0804 32.418 7.70347 31.5109 6.93104C30.6039 6.15862 29.2266 6.29295 28.4539 7.19971C27.0766 8.84532 26.7742 11.129 27.6812 13.0769C27.8156 13.3791 28.0172 13.6814 28.2188 13.9501L27.4797 15.7636C27.0766 15.3606 26.7406 14.9576 26.4383 14.4874C26.2703 14.2187 25.9008 14.118 25.632 14.2187L24.4563 14.7225L23.8516 13.2784L25.0273 12.7746C25.3297 12.6403 25.4977 12.338 25.4305 12.0022C25.1953 10.9611 25.1953 9.88641 25.4305 8.84532C25.4977 8.54306 25.3297 8.20723 25.0273 8.07289L23.8516 7.56914L24.4563 6.12503L25.632 6.62879C25.9344 6.76313 26.2703 6.62879 26.4383 6.36012C27.0094 5.45336 27.782 4.71452 28.6555 4.14359C28.9242 3.97567 29.025 3.60625 28.9242 3.33758L28.4203 2.16215L29.8648 1.55764L30.3687 2.73307C30.5031 3.03533 30.8055 3.20325 31.1414 3.13608C32.1828 2.90099 33.2578 2.90099 34.2656 3.13608C34.568 3.20325 34.9039 3.03533 35.0383 2.73307L35.5422 1.55764L36.9867 2.16215L36.4828 3.33758C36.3484 3.63984 36.4828 3.97567 36.7516 4.14359C37.6586 4.71452 38.3977 5.48694 38.9688 6.36012C39.1367 6.62879 39.5063 6.72954 39.775 6.62879L40.9508 6.12503L41.5555 7.56914L40.2789 8.10648Z"
                                fill="black" />
                        </svg>
                        <h3 class="text-center">SERVICES</h3>
                    </div>
                    <div class="box7 d-flex flex-column justify-content-center align-items-center icon-boxes">
                        <svg width="62" height="43" viewBox="0 0 62 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.5111 26.7556C10.5111 27.5116 10.7353 28.2506 11.1553 28.8791C11.5753 29.5077 12.1723 29.9976 12.8707 30.2869C13.5692 30.5762 14.3377 30.6518 15.0792 30.5043C15.8206 30.3568 16.5017 29.9927 17.0362 29.4581C17.5707 28.9235 17.9347 28.2424 18.0822 27.501C18.2296 26.7595 18.1538 25.991 17.8645 25.2925C17.5751 24.5941 17.0851 23.9972 16.4565 23.5773C15.8279 23.1573 15.0888 22.9333 14.3329 22.9333C13.3196 22.9346 12.3481 23.3377 11.6317 24.0542C10.9152 24.7708 10.5122 25.7423 10.5111 26.7556ZM16.2444 26.7556C16.2444 27.1335 16.1324 27.503 15.9224 27.8173C15.7124 28.1315 15.414 28.3765 15.0648 28.5212C14.7156 28.6658 14.3314 28.7037 13.9607 28.63C13.59 28.5563 13.2494 28.3743 12.9821 28.1071C12.7148 27.8399 12.5328 27.4994 12.459 27.1287C12.3852 26.758 12.423 26.3738 12.5676 26.0246C12.7121 25.6753 12.957 25.3768 13.2712 25.1668C13.5854 24.9567 13.9549 24.8446 14.3329 24.8445C14.8396 24.845 15.3254 25.0465 15.6838 25.4048C16.0422 25.763 16.2438 26.2488 16.2444 26.7556Z"
                                fill="black" />
                            <path
                                d="M55.4222 33.7631C55.4259 34.1812 55.2635 34.5836 54.9709 34.8821C54.6782 35.1806 54.2791 35.3509 53.861 35.3555H7.29452C6.87648 35.3509 6.47736 35.1806 6.18469 34.8821C5.89201 34.5836 5.7297 34.1812 5.73333 33.7631V22.2964C5.72641 21.2068 6.15194 20.159 6.91659 19.3827C7.68124 18.6064 8.72257 18.1651 9.81217 18.1555H26.8568C26.7897 17.5208 26.7559 16.883 26.7556 16.2447L11.0477 16.2444L13.6421 10.611C14.9565 8.3 17.462 6.68888 19.7475 6.68888H29.4829C29.8963 6.02321 30.3521 5.38485 30.8475 4.77777H19.7475C16.746 4.77777 13.6157 6.75864 11.958 9.70672C11.9454 9.72913 9.34514 15.3729 9.34514 15.3729L7.94607 14.522V11.5922C7.94607 9.91436 6.86361 8.59999 5.48183 8.59999H2.46376C1.08221 8.59999 0 9.91436 0 11.5922V12.6128C0 14.292 1.08221 15.6073 2.46376 15.6073H6.05201L7.73169 16.6284C6.5814 17.0642 5.59114 17.84 4.89273 18.8526C4.19433 19.8651 3.82092 21.0664 3.82222 22.2964V33.7631C3.81915 34.6878 4.183 35.576 4.83395 36.2328C5.4849 36.8897 6.3698 37.2614 7.29452 37.2667H8.12222V39.4384C8.11571 40.375 8.48096 41.276 9.13785 41.9436C9.79474 42.6113 10.6896 42.9912 11.6262 43H14.1738C15.1104 42.9912 16.0053 42.6113 16.6622 41.9436C17.319 41.276 17.6843 40.375 17.6778 39.4384V37.2667H43.4778V39.4384C43.4713 40.375 43.8365 41.276 44.4934 41.9436C45.1503 42.6113 46.0452 42.9912 46.9818 43H49.5293C50.4659 42.9912 51.3608 42.6113 52.0177 41.9436C52.6746 41.276 53.0398 40.375 53.0333 39.4384V37.2667H53.861C54.7858 37.2614 55.6706 36.8897 56.3216 36.2328C56.9725 35.576 57.3364 34.6878 57.3333 33.7631V29.4671C56.7323 30.0317 56.0938 30.5552 55.4222 31.0339V33.7631ZM6.03495 13.6962H2.46376C2.26897 13.6962 1.91111 13.2849 1.91111 12.6128V11.5922C1.91111 10.9215 2.26897 10.5111 2.46376 10.5111H5.48183C5.67686 10.5111 6.03495 10.9215 6.03495 11.5922V13.6962ZM15.7667 39.4384C15.7737 39.8683 15.6099 40.2834 15.3113 40.5928C15.0127 40.9022 14.6037 41.0806 14.1738 41.0889H11.6262C11.1963 41.0806 10.7873 40.9022 10.4887 40.5928C10.1901 40.2834 10.0263 39.8683 10.0333 39.4384V37.2667H15.7667V39.4384ZM51.1222 39.4384C51.1292 39.8683 50.9655 40.2834 50.6669 40.5928C50.3683 40.9022 49.9592 41.0806 49.5293 41.0889H46.9818C46.5519 41.0806 46.1428 40.9022 45.8442 40.5928C45.5456 40.2834 45.3819 39.8683 45.3889 39.4384V37.2667H51.1222V39.4384Z"
                                fill="black" />
                            <path
                                d="M44.9108 32.4889C48.1237 32.4889 51.2644 31.5363 53.9358 29.7513C56.6073 27.9664 58.6894 25.4293 59.9189 22.461C61.1485 19.4928 61.4702 16.2265 60.8434 13.0754C60.2166 9.92424 58.6695 7.02974 56.3976 4.7579C54.1258 2.48606 51.2313 0.938917 48.0801 0.312128C44.929 -0.31466 41.6628 0.00705417 38.6945 1.23659C35.7262 2.46612 33.1892 4.54825 31.4042 7.21967C29.6193 9.89109 28.6666 13.0318 28.6666 16.2447C28.6715 20.5514 30.3846 24.6803 33.4299 27.7257C36.4752 30.771 40.6041 32.484 44.9108 32.4889ZM30.6206 17.2982C31.6386 17.406 32.6615 17.4621 33.6852 17.4664C35.113 17.4905 36.5379 17.3299 37.9245 16.9886L38.3141 19.4354C36.7825 18.9632 34.4186 18.6492 30.8446 18.9914C30.7364 18.432 30.6616 17.8666 30.6206 17.2982ZM42.2021 30.3177C39.7211 29.835 37.4111 28.7068 35.5051 27.0468C33.599 25.3869 32.1642 23.2538 31.3452 20.8627C36.3108 20.4348 38.395 21.3948 39.0914 21.8597C39.3599 22.1903 39.6977 22.4578 40.081 22.6433C40.4643 22.8288 40.8837 22.9278 41.3095 22.9333H41.4327C41.921 23.9001 42.5749 26.0457 42.2021 30.3177ZM39.663 15.7522C39.6513 15.6918 39.654 15.6295 39.6709 15.5704C39.6878 15.5112 39.7184 15.4569 39.7602 15.4118C39.802 15.3667 39.8539 15.332 39.9116 15.3107C39.9692 15.2893 40.0311 15.2819 40.0922 15.2889H49.7299C49.7911 15.2813 49.8533 15.2883 49.9113 15.3095C49.9693 15.3307 50.0214 15.3653 50.0634 15.4106C50.1053 15.4559 50.1359 15.5105 50.1525 15.57C50.1692 15.6294 50.1715 15.6919 50.1592 15.7524L49.442 20.2582C49.3911 20.4692 49.2729 20.6579 49.1052 20.7958C48.9375 20.9336 48.7295 21.0131 48.5126 21.0222H41.3095C41.0926 21.0131 40.8846 20.9336 40.7169 20.7957C40.5492 20.6578 40.431 20.469 40.3801 20.258C40.3801 20.258 39.6667 15.7758 39.663 15.7522ZM45.7257 30.553C45.4558 30.5685 45.1845 30.5778 44.9108 30.5778C44.6374 30.5778 44.3664 30.5685 44.0969 30.553C44.4305 26.8031 44.0325 24.4138 43.5046 22.9333H46.3178C45.7899 24.4138 45.3921 26.8031 45.7257 30.553ZM47.6205 30.3174C47.2465 26.0354 47.904 23.89 48.3838 22.9333H48.5126C48.9386 22.9278 49.3582 22.8287 49.7416 22.643C50.125 22.4573 50.4629 22.1896 50.7314 21.8588C51.4299 21.3932 53.5167 20.4348 58.4769 20.8624C57.658 23.2535 56.2232 25.3865 54.3172 27.0465C52.4113 28.7064 50.1014 29.8346 47.6205 30.3174ZM58.9775 18.9914C55.4037 18.649 53.0398 18.9628 51.508 19.4351L51.8976 16.9886C53.2842 17.3299 54.7092 17.4905 56.137 17.4664C57.1607 17.4621 58.1835 17.406 59.2015 17.2982C59.1605 17.8666 59.0858 18.432 58.9775 18.9914ZM44.9108 1.91112C48.5617 1.9157 52.0736 3.31164 54.7314 5.81472C57.3891 8.31779 58.9929 11.7398 59.2162 15.3838C56.8033 15.6441 54.3647 15.5245 51.9889 15.0295C51.9026 14.7187 51.75 14.4304 51.5414 14.1845C51.3158 13.927 51.037 13.7215 50.7242 13.5822C50.4115 13.4429 50.0722 13.3732 49.7299 13.3778H40.0922C39.7499 13.3732 39.4107 13.4429 39.0979 13.5822C38.7851 13.7215 38.5063 13.927 38.2808 14.1845C38.0733 14.4292 37.9212 14.7158 37.8349 15.0248C34.5791 15.8861 30.6302 15.3845 30.606 15.3836C30.8291 11.7396 32.4329 8.31769 35.0905 5.81466C37.7482 3.31163 41.26 1.9157 44.9108 1.91112Z"
                                fill="black" />
                            <path
                                d="M44.9111 19.1111C45.4389 19.1111 45.8667 18.6833 45.8667 18.1556C45.8667 17.6278 45.4389 17.2 44.9111 17.2C44.3834 17.2 43.9556 17.6278 43.9556 18.1556C43.9556 18.6833 44.3834 19.1111 44.9111 19.1111Z"
                                fill="black" />
                            <path
                                d="M21.9778 25.8H29.4827C29.1003 25.1841 28.7551 24.546 28.449 23.8889H21.9778C21.7243 23.8889 21.4813 23.9895 21.3021 24.1687C21.1229 24.3479 21.0222 24.591 21.0222 24.8444C21.0222 25.0978 21.1229 25.3409 21.3021 25.5201C21.4813 25.6993 21.7243 25.8 21.9778 25.8Z"
                                fill="black" />
                            <path
                                d="M21.9778 29.6222H32.6515C32.0051 29.0292 31.4021 28.3906 30.8472 27.7111H21.9778C21.7243 27.7111 21.4813 27.8118 21.3021 27.991C21.1229 28.1702 21.0222 28.4132 21.0222 28.6667C21.0222 28.9201 21.1229 29.1632 21.3021 29.3424C21.4813 29.5216 21.7243 29.6222 21.9778 29.6222Z"
                                fill="black" />
                            <path
                                d="M36.3111 11.6405C36.8389 11.6405 37.2667 11.2127 37.2667 10.6849C37.2667 10.1572 36.8389 9.72937 36.3111 9.72937C35.7834 9.72937 35.3556 10.1572 35.3556 10.6849C35.3556 11.2127 35.7834 11.6405 36.3111 11.6405Z"
                                fill="black" />
                            <path
                                d="M39.2177 8.81016C39.7454 8.81016 40.1733 8.38234 40.1733 7.8546C40.1733 7.32686 39.7454 6.89905 39.2177 6.89905C38.69 6.89905 38.2621 7.32686 38.2621 7.8546C38.2621 8.38234 38.69 8.81016 39.2177 8.81016Z"
                                fill="black" />
                            <path
                                d="M42.9762 7.32835C43.504 7.32835 43.9318 6.90053 43.9318 6.37279C43.9318 5.84505 43.504 5.41724 42.9762 5.41724C42.4485 5.41724 42.0207 5.84505 42.0207 6.37279C42.0207 6.90053 42.4485 7.32835 42.9762 7.32835Z"
                                fill="black" />
                            <path
                                d="M47.018 7.4044C47.5457 7.4044 47.9736 6.97658 47.9736 6.44884C47.9736 5.9211 47.5457 5.49329 47.018 5.49329C46.4903 5.49329 46.0624 5.9211 46.0624 6.44884C46.0624 6.97658 46.4903 7.4044 47.018 7.4044Z"
                                fill="black" />
                            <path
                                d="M50.7184 9.02525C51.2462 9.02525 51.674 8.59743 51.674 8.06969C51.674 7.54195 51.2462 7.11414 50.7184 7.11414C50.1907 7.11414 49.7629 7.54195 49.7629 8.06969C49.7629 8.59743 50.1907 9.02525 50.7184 9.02525Z"
                                fill="black" />
                            <path
                                d="M53.5111 11.9508C54.0388 11.9508 54.4667 11.523 54.4667 10.9952C54.4667 10.4675 54.0388 10.0397 53.5111 10.0397C52.9834 10.0397 52.5555 10.4675 52.5555 10.9952C52.5555 11.523 52.9834 11.9508 53.5111 11.9508Z"
                                fill="black" />
                        </svg>

                        <h3 class="text-center">DRIVE</h3>
                    </div>
                </div>
                <div class="col-lg-2  explore-now-btn">
                    <button type="button" class="box8 d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-arrow-right"></i>
                        <h3 class="text-center">Explore Now</h3>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- SERVICES  WORKS ENDS HERE -->



    <!-- TABS WORKS STARTS HERE -->
    <section class="section2">
        <h1 class="main-heading text-center" data-aos="fade-right">Discover HR Excellence:</h1>
        <h1 class="sub-heading text-center fst-italic fw-light" data-aos="fade-right">Elevate Your Business, Find Top
            Talent</h1>
        <div class="container" data-aos="fade-right">
            <div class="justify-content-center d-flex">
                <!-- Tabs navigation -->
                <ul class="my-nav nav nav-tabs d-flex justify-content-center pt-5" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="locals-tab" data-bs-toggle="tab" data-bs-target="#locals"
                            type="button" role="tab" aria-controls="locals" aria-selected="true">EMPLOPYEE</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="business-owners-tab" data-bs-toggle="tab"
                            data-bs-target="#business-owners" type="button" role="tab" aria-controls="business-owners"
                            aria-selected="false">COMPANY</button>
                    </li>
                </ul>
            </div>
            <!-- Tabs content -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="locals" role="tabpanel" aria-labelledby="locals-tab">
                    <div class="row lower-section mb-5">
                        <h1 class="text-center pt-5">EMPLOPYEE</h1>
                        <p class="text-center py-2 main-line">Search for a diverse array of services, products, and
                            experiences offered by small businesses within your area. Benefits include</p>
                        <div
                            class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-5 svg-col">
                            <img href="/sites/e4d4/assets/img/02.svg" alt="svg1">
                            <h3 class="fs-5">FIND A JOB</h3>
                            <P class="text-center">Lorem Ipsumis simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum.</P>
                        </div>
                        <div
                            class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-5 svg-col">
                            <img href="/sites/e4d4/assets/img/03.svg" alt="svg2">
                            <h3 class="fs-5">REAL REVIEWS</h3>
                            <P class="text-center">Lorem Ipsumis simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum.</P>
                        </div>
                        <div
                            class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-5 svg-col">
                            <img href="/sites/e4d4/assets/img/04.svg" alt="svg3">
                            <h3 class="fs-5">SHARE A LOVE</h3>
                            <P class="text-center">Lorem Ipsumis simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum. </P>
                        </div>
                    </div>

                    <div class="row question-row">
                        <div class="col-lg-12 d-flex justify-content-center align-items-center">
                            <div class="question-container d-flex justify-content-center align-items-center">
                                <p>Want To Know How We Can Help! <span class="question-mark">?</span> </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="business-owners" role="tabpanel" aria-labelledby="business-owners-tab">
                    <div class="row lower-section">
                        <h1 class="text-center pt-5">COMPANY</h1>
                        <p class="text-center py-2 main-line">Let your business flourish and shine</p>
                        <div
                            class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-5 svg-col">
                            <img href="/sites/e4d4/assets/img/02.svg" alt="svg1">
                            <h3 class="fs-5">FIND A JOB</h3>
                            <P class="text-center">Lorem Ipsumis simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum.</P>
                        </div>
                        <div
                            class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-5 svg-col">
                            <img href="/sites/e4d4/assets/img/03.svg" alt="svg2">
                            <h3 class="fs-5">REAL REVIEWS</h3>
                            <P class="text-center">Lorem Ipsumis simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum. </P>
                        </div>
                        <div
                            class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-5 svg-col">
                            <img href="/sites/e4d4/assets/img/04.svg" alt="svg3">
                            <h3 class="fs-5">SHARE A LOVE</h3>
                            <P class="text-center">Lorem Ipsumis simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum.</P>
                        </div>

                        <div class="row question-row">
                            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                <div class="question-container d-flex justify-content-center align-items-center">
                                    <p>Want To Know How We Can Help! <span class="question-mark">?</span> </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
    <!-- TABS WORKS ENDS HERE -->



    <!-- RECOMMENDATIONS WORKS STARTS HERE -->
    <section class="section3 py-5">
        <h1 class="text-center text-white py-5" data-aos="fade-right">Our Recommendations</h1>
        <div class="container" data-aos="zoom-in-down">
            <div id="recommendationCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row g-3 justify-content-center carousel-row-cards">
                            <!-- Your provided card -->
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card1">
                                    <h3 class="text-center text-white">Interior<br> <span>Painting Service</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 col-md-6 col-sm-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div
                                            class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card2">
                                    <h3 class="text-center text-white">Interior<br> <span>Painting Service</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 col-md-6 col-sm-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div
                                            class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card3">
                                    <h3 class="text-center text-white">Mighty<br><span>Burger Hub</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 col-md-6 col-sm-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div
                                            class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card4">
                                    <h3 class="text-center text-white">Mega<br><span>Pharmacy</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 col-md-6 col-sm-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div
                                            class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card1">
                                    <h3 class="text-center text-white">Interior<br> <span>Painting Service</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 overlay-content ">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card2">
                                    <h3 class="text-center text-white">Expert<br> <span>Washing Service</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card3">
                                    <h3 class="text-center text-white">Mighty<br><span>Burger Hub</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card p-4 card4">
                                    <h3 class="text-center text-white">Mega<br><span>Pharmacy</span></h3>
                                    <p class="inverted-commas text-white text-center">"</p>
                                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid.</p>
                                    <div class="row bg-white overlay d-flex justify-content-between">
                                        <div class="col-lg-6 overlay-content">
                                            <p class="fw-semibold text-black">Marie</p>
                                            <p class="text-secondary">Castle Hill, VIC</p>
                                        </div>
                                        <div class="col-lg-6 d-flex justify-content-end align-items-center fs-3">
                                            <div class="circle-icon rounded-circle">
                                                <i class="bi bi-star-fill star-icon text-white"></i>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- RECOMMENDATIONS WORKS ENDS HERE -->



    <!-- CATEGORIES WORKS STARTS HERE -->
    <section class="section4">
        <h1 class="text-center">Popular Categories</h1>
        <div class="container">
            <div class="row py-5">
                <div class="rectangle py-2">
                    <div class="rectangle-content d-flex p-5 justify-content-center flex-wrap">
                        <div class="col-lg-3 col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="3400">
                            <ul>
                                <li><span>Hobart</span></li>
                                <li><a href="#Aquariums">Aquariums</a></li>
                                <li><a href="#Bakeries">Bakeries</a></li>
                                <li><a href="#Butchers">Butchers</a></li>
                                <li><a href="#Dentists">Dentists</a></li>
                                <li><a href="#Electricians">Electricians</a></li>
                                <li><a href="#Hairdressers">Hairdressers</a></li>
                                <li><a href="#Massage">Massage</a></li>
                                <li><a href="#Mechanic">Mechanic</a></li>
                                <li><a href="#ServiceStations">Service Stations</a></li>
                                <li><a href="#Plumbing">Plumbing</a></li>
                                <li><a href="#Restaurants">Restaurants</a></li>
                                <li><a href="#SewingAlterations">Sewing & Alterations</a></li>
                                <li><a href="#Supermarket">Supermarket</a></li>
                                <li><a href="#Takeaways">Takeaways</a></li>
                                <li><a href="#Yoga">Yoga</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="3200">
                            <ul>
                                <li><span>Hobart</span></li>
                                <li><a href="#Aquariums">Aquariums</a></li>
                                <li><a href="#Bakeries">Bakeries</a></li>
                                <li><a href="#Butchers">Butchers</a></li>
                                <li><a href="#Dentists">Dentists</a></li>
                                <li><a href="#Electricians">Electricians</a></li>
                                <li><a href="#Hairdressers">Hairdressers</a></li>
                                <li><a href="#Massage">Massage</a></li>
                                <li><a href="#Mechanic">Mechanic</a></li>
                                <li><a href="#ServiceStations">Service Stations</a></li>
                                <li><a href="#Plumbing">Plumbing</a></li>
                                <li><a href="#Restaurants">Restaurants</a></li>
                                <li><a href="#SewingAlterations">Sewing & Alterations</a></li>
                                <li><a href="#Supermarket">Supermarket</a></li>
                                <li><a href="#Takeaways">Takeaways</a></li>
                                <li><a href="#Yoga">Yoga</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="3150">
                            <ul>
                                <li><span>Hobart</span></li>
                                <li><a href="#Aquariums">Aquariums</a></li>
                                <li><a href="#Bakeries">Bakeries</a></li>
                                <li><a href="#Butchers">Butchers</a></li>
                                <li><a href="#Dentists">Dentists</a></li>
                                <li><a href="#Electricians">Electricians</a></li>
                                <li><a href="#Hairdressers">Hairdressers</a></li>
                                <li><a href="#Massage">Massage</a></li>
                                <li><a href="#Mechanic">Mechanic</a></li>
                                <li><a href="#ServiceStations">Service Stations</a></li>
                                <li><a href="#Plumbing">Plumbing</a></li>
                                <li><a href="#Restaurants">Restaurants</a></li>
                                <li><a href="#SewingAlterations">Sewing & Alterations</a></li>
                                <li><a href="#Supermarket">Supermarket</a></li>
                                <li><a href="#Takeaways">Takeaways</a></li>
                                <li><a href="#Yoga">Yoga</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="310">
                            <ul>
                                <li><span>Hobart</span></li>
                                <li><a href="#Aquariums">Aquariums</a></li>
                                <li><a href="#Bakeries">Bakeries</a></li>
                                <li><a href="#Butchers">Butchers</a></li>
                                <li><a href="#Dentists">Dentists</a></li>
                                <li><a href="#Electricians">Electricians</a></li>
                                <li><a href="#Hairdressers">Hairdressers</a></li>
                                <li><a href="#Massage">Massage</a></li>
                                <li><a href="#Mechanic">Mechanic</a></li>
                                <li><a href="#ServiceStations">Service Stations</a></li>
                                <li><a href="#Plumbing">Plumbing</a></li>
                                <li><a href="#Restaurants">Restaurants</a></li>
                                <li><a href="#SewingAlterations">Sewing & Alterations</a></li>
                                <li><a href="#Supermarket">Supermarket</a></li>
                                <li><a href="#Takeaways">Takeaways</a></li>
                                <li><a href="#Yoga">Yoga</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CATEGORIES WORKS ENDS HERE -->





    <!-- QUERRY WORKS STARTS HERE -->
    <section class="call-to-action" data-aos="zoom-in-left" data-aos-duration="3200" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center call-to-action-row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h1 class="text-white">Have Query?<br><span>Lets Get Connected!</span></h1>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="input-group own-input-tag">
                        <input type="email" class="form-control pb-4" id="form-content"
                            placeholder="Enter Your Email Address.." aria-label="Email address"
                            aria-describedby="email-addon">
                        <span class="input-group-text pb-4" id="email-addon"><i class="bi bi-send-arrow-up"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- QUERRY WORKS ENDS HERE -->




    <!-- FOOTER WORKS STARTS HERE -->
    <section class="footer">
        <div class="container">
            <div class="row upper-footer" data-aos="fade-right" data-aos-duration="3100" data-aos-easing="ease-in-sine">
                <div class="col-lg-3 footer-left">
                    <a class="footer-logo"><strong class="main-logo">E4</strong>D4</a>
                    <p class="text-white mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry.</p>
                    <div class="icons d-flex gap-4 pt-3">
                        <a href="https://www.instagram.com" class="icon-background d-flex">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com" class="icon-background d-flex">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.twitter.com" class="icon-background d-flex">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.tiktok.com" class="icon-background d-flex">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                        <a href="https://www.linkedin.com" class="icon-background d-flex">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>


                </div>
                <div class="col-lg-9 mobile-footer">
                    <div class="row footer-right">
                        <div class="col-lg-4 d-flex flex-column align-content-end flex-wrap gap-4 footer-links">
                            <h3 class="text-white">Quick Links</h3>
                            <ul class="text-white">
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About</a></li>
                                <li><a href="categories">Categories</a></li>
                                <li><a href="business">Business</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 d-flex flex-column align-content-center flex-wrap gap-4 footer-links">
                            <h3 class="text-white">Business</h3>
                            <ul class="text-white">
                                <li><a href="#advertise">Advertise With Us</a></li>
                                <li><a href="contact">Contact Us</a></li>
                                <li><a href="#add-business">Add A Business</a></li>
                                <li><a href="#handling-reviews">Handling Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 d-flex flex-column align-content-end flex-wrap gap-4 footer-links">
                            <h3 class="text-white">Contact Us</h3>
                            <ul>
                                <li class="text-secondary email">Email: <a
                                        href="mailto:finddabs24@yahoo.com">finddabs24@yahoo.com</a></li>
                                <li class="text-secondary phone">Phone: <a href="tel:+19785042054">978.504.2054</a></li>
                                <li class="text-secondary">Address: <a
                                        href="https://www.google.com/maps/search/?api=1&query=117+Eastern+Avenue"
                                        target="_blank">117 Eastern Avenue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row lower-footer d-flex justify-content-between align-content-center">
                <div class="col-lg-6 col-sm-6 d-flex justify-content-start">
                    <p class="text-white">Copyright @ 2024. All Right Reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-6 d-flex justify-content-end">
                    <p class="text-white">Terms & Conditions | Privacy Policy</p>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER WORKS ENDS HERE -->






    <!-- BOOTSTRAP JS CDN LINKED HERE  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FONTAWESOME ICON JS CDN LINKED HERE  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

    <!-- AOS ANIMATION JS CDN LINKED HERE  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- OWN JS LINED HERE -->
    <script href="/sites/e4d4/assets/js/script.js"></script>

</body>

</html>