<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Posting</title>
    <link rel="icon" href="/assets/img/tab_logo.png" />

    <!-- BOOTSTRAP CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- FONTAWESOME ICON CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- OWN CSS LINKED HERE -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <!-- NAVBAR STARTS HERE -->
    <header>
      <nav
        class="main-nav navbar navbar-expand-lg"
        data-aos="fade-down"
        data-aos-duration="3200"
        data-aos-easing="ease-in-sine"
      >
        <div class="container">
          <a class="navbar-brand" href="#"
            ><strong class="main-logo">E4</strong>D4</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav own-navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Categories</a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link" href="#">Business Product</a>
              </li>
              <li class="nav-item">
                <button type="button" class="top-btn">LOGIN</button>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button
                    class="top-btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    SIGN UP
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">TALENT</a></li>
                    <li><a class="dropdown-item" href="#">BUSINESS</a></li>
                  </ul>
                </div>
                <!-- <button type="button" class="top-btn">SIGN UP</button> -->
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- NAVBAR ENDS HERE -->

    <!-- JOB POSTING WORKS STARTS HERE -->
    <section class="portfolio-section">
      <div
        class="container d-flex flex-column justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="3200"
        data-aos-easing="ease-in-sine"
      >
        <!-- NO 1 portfolio WORKS STARTS HERE -->
        <div class="job-details-setting">
          <div class="job-banner">
            <div class="job-details">
              <img
                src="/assets/img/business-profile.png"
                alt=""
                class="job-img"
              />
              <div class="d-flex flex-column justify-content-center mx-3">
                <h4 class="fw-bold">Software Engineer</h4>
                <div class="job-banner-icon">
                  <div>
                    <i class="bi bi-geo-alt"></i>
                    <span>Melbourne,Australia</span>
                  </div>
                  <div class="px-2">
                    <i class="bi bi-cash-coin"></i>
                    <span>$200 - $300</span>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <button
                type="button"
                class="submit-btn-portfolio btn-portfolio mx-2"
              >
                Apply for this Job
              </button>
              <button type="button" class="logout-btn">
                <i class="fa-regular fa-bookmark"></i>
              </button>
            </div>
          </div>
          <div class="row w-90">
            <div class="col-lg-8">
              <div class="jobs-description">
                <h6 class="fw-bold">Job Description</h6>
                <p>
                  As a Product Designer, you will work within a Product Delivery
                  Team fused with UX, engineering, product and data talent. You
                  will help the team design beautiful interfaces that solve
                  business challenges for our clients
                </p>

                <h6 class="fw-bold">Key Responsibilities</h6>
                <ul>
                  <li>
                    Be involved in every step of the product design cycle from
                    discovery to developer handoff and user acceptance testing.
                  </li>
                  <li>
                    Work with BAs, product managers and tech teams to lead the
                    Product Design
                  </li>
                  <li>
                    Maintain quality of the design process and ensure that when
                    designs are translated into code they accurately reflect the
                    design specifications.
                  </li>
                  <li>
                    Accurately estimate design tickets during planning sessions
                  </li>

                  <li>
                    Contribute to sketching sessions involving
                    non-designersCreate, iterate and maintain UI deliverables
                    including sketch files.
                  </li>
                </ul>

                <h6 class="fw-bold">Skill & Experience</h6>
                <ul>
                  <li>
                    You have at least 3 years’ experience working as a Product
                    Designer.
                  </li>

                  <li>
                    You have experience using Sketch and InVision or Framer X
                  </li>
                  <li>
                    You have some previous experience working in an agile
                    environment – Think two-week sprints.
                  </li>
                  <li>
                    You are familiar using Jira and Confluence in your workflow
                  </li>
                </ul>

                <h6 class="fw-bold mb-3">Jobs Skills</h6>
                <div class="d-flex flex-wrap">
                  <p class="skills-java">JavaScript</p>
                  <p class="skills-java">Python</span>
                  <p class="skills-java">Html</p>
                </div>
                
              </div>
            </div>

            <div class="col-lg-4">
              <div class="job-overview">
                <h6 class="fw-bold">Job Overview</h6>

                <div class="job-overview-icon">
                  <i class="bi bi-calendar"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Date Posted:</p>
                    <p class="m-0">26=05-2024</p>
                  </div>
                </div>
                <div class="job-overview-icon">
                  <i class="bi bi-hourglass-split"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Expiration date</p>
                    <p class="m-0">26=08-2024</p>
                  </div>
                </div>
                <div class="job-overview-icon">
                  <i class="bi bi-geo-alt"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Location:</p>
                    <p class="m-0">Perth , Autralia</p>
                  </div>
                </div>
                <div class="job-overview-icon">
                  <i class="bi bi-person"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Job Title:</p>
                    <p class="m-0">Software Engineer</p>
                  </div>
                </div>
                <div class="job-overview-icon">
                  <i class="bi bi-stopwatch"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Hours:</p>
                    <p class="m-0">50 / Week</p>
                  </div>
                </div>
                <div class="job-overview-icon">
                  <i class="bi bi-cash-coin"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Salary:</p>
                    <p class="m-0">$35k - $45k</p>
                  </div>
                </div>
                <div class="job-overview-icon">
                  <i class="bi bi-bank"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Industry:</p>
                    <p class="m-0">Information Technology</p>
                  </div>
                </div>

                <div class="job-overview-icon">
                  <i class="bi bi-person-lines-fill"></i>
                  <div class="icons-overview">
                    <p class="m-0 fw-bold">Employment Type</p>
                    <p class="m-0">Part Time</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- portfolio WORKS ENDS HERE -->
      </div>
    </section>
    <!-- JOB POSTING WORKS ENDS HERE -->

    <!-- QUERRY WORKS STARTS HERE -->
    <section
      class="call-to-action"
      data-aos="zoom-in-left"
      data-aos-duration="3200"
      data-aos-easing="ease-in-sine"
    >
      <div class="container">
        <div
          class="row d-flex justify-content-center align-items-center call-to-action-row"
        >
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h1 class="text-white">
              Have Query?<br /><span>Let’s Get Connected!</span>
            </h1>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="input-group own-input-tag">
              <input
                type="email"
                class="form-control pb-4"
                id="form-content"
                placeholder="Enter Your Email Address.."
                aria-label="Email address"
                aria-describedby="email-addon"
              />
              <span class="input-group-text pb-4" id="email-addon"
                ><i class="bi bi-arrow-right"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- QUERRY WORKS ENDS HERE -->

    <!-- FOOTER WORKS STARTS HERE -->
    <section class="footer">
      <div class="container">
        <div
          class="row upper-footer"
          data-aos="fade-right"
          data-aos-duration="3100"
          data-aos-easing="ease-in-sine"
        >
          <div class="col-lg-3 footer-left">
            <a class="footer-logo"><strong class="main-logo">E4</strong>D4</a>
            <p class="text-white mb-2">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry.
            </p>
            <div class="icons d-flex gap-4 pt-3">
              <a
                href="https://www.instagram.com"
                class="icon-background d-flex"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com" class="icon-background d-flex">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="https://www.twitter.com" class="icon-background d-flex">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="https://www.tiktok.com" class="icon-background d-flex">
                <i class="fa-brands fa-tiktok"></i>
              </a>
              <a href="https://www.linkedin.com" class="icon-background d-flex">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-9 mobile-footer">
            <div class="row footer-right">
              <div
                class="col-lg-4 d-flex flex-column align-content-end flex-wrap gap-4 footer-links"
              >
                <h3 class="text-white">Quick Links</h3>
                <ul class="text-white">
                  <li><a href="index">Home</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="categories">Categories</a></li>
                  <li><a href="business">Business</a></li>
                </ul>
              </div>
              <div
                class="col-lg-4 d-flex flex-column align-content-center flex-wrap gap-4 footer-links"
              >
                <h3 class="text-white">Business</h3>
                <ul class="text-white">
                  <li><a href="#advertise">Advertise With Us</a></li>
                  <li><a href="contact">Contact Us</a></li>
                  <li><a href="#add-business">Add A Business</a></li>
                  <li><a href="#handling-reviews">Handling Reviews</a></li>
                </ul>
              </div>
              <div
                class="col-lg-4 d-flex flex-column align-content-end flex-wrap gap-4 footer-links"
              >
                <h3 class="text-white">Contact Us</h3>
                <ul>
                  <li class="text-secondary email">
                    Email:
                    <a href="mailto:finddabs24@yahoo.com"
                      >finddabs24@yahoo.com</a
                    >
                  </li>
                  <li class="text-secondary phone">
                    Phone: <a href="tel:+19785042054">978.504.2054</a>
                  </li>
                  <li class="text-secondary">
                    Address:
                    <a
                      href="https://www.google.com/maps/search/?api=1&query=117+Eastern+Avenue"
                      target="_blank"
                      >117 Eastern Avenue</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row lower-footer d-flex justify-content-between align-content-center"
        >
          <div class="col-lg-6 col-sm-6 d-flex justify-content-start">
            <p class="text-white">Copyright @ 2024. All Right Reserved.</p>
          </div>
          <div class="col-lg-6 col-sm-6 d-flex justify-content-end">
            <p class="text-white">Terms & Conditions | Privacy Policy</p>
          </div>
        </div>
      </div>
    </section>
    <!-- FOOTER WORKS ENDS HERE -->

    <!-- BOOTSTRAP JS CDN LINKED HERE  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FONTAWESOME ICON JS CDN LINKED HERE  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

    <!-- AOS ANIMATION JS CDN LINKED HERE  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      const nextBtn = document.querySelectorAll(".btn-portfolio");
      const forms = document.querySelectorAll(".portfolio-form");
      nextBtn.forEach((btn) => {
        btn.addEventListener("click", function (e) {
          forms.forEach((form) => {
            form.classList.add("display-none");
          });
          document
            .querySelector(`.${e.target.getAttribute("data-next-class")}`)
            .classList.remove("display-none");
        });
      });
    </script>

    <!-- OWN JS LINED HERE -->
    <script src="/assets/js/script.js"></script>
  </body>
</html>
